.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-cogs.position-left.text-success
        %span.text-semibold.text-success Inventory
        \- Parts listed
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          = link_to dashboard_path do
            Dashboard
        %li
          Manage
        %li.active
          Inventory
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h4.panel-title.center
            Inventory
            %a.heading-elements-toggle
              %i.icon-more
          .heading-elements
            %button#sweet_inventory.btn.btn-link.heading-btn.text-semibold.legitRipple{"data-target" => "#modal_update_inventory", "data-toggle" => "modal", :type => "button"}
              %span Update Inventory
              %b.icon-download7
            =link_to remove_all_inventory_parts_path, method: :get, data: {confirm: "Are you sure you want to delete ALL of your inventory?"} do
              %button.btn.bg-danger.text-semibold.legitRipple.heading-btn Delete All Inventory
        / %table#inventoryPartsDT.table.striped.responsive-table.bordered
        %table#inventoryPartsDT.table.striped.responsive-table.bordered{"data-source" => "#{inventory_parts_path(format: "json")}"}
          %thead
            %tr
              %th Part Number
              %th Description
              %th Serial Number
              %th Condition
              %th Manufacturer
          %tbody

-# %div.btn
-#   %i
-#   = link_to 'Upload New Inventory', new_inventory_part_path
-# %div.right.btn.destroy-all-button
-#   =link_to 'Delete All Inventory', remove_all_inventory_parts_path, method: :get, data: {confirm: "Are you sure you want to delete ALL of your inventory?"}
