.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-chart.position-left.text-success
        %span.text-semibold.text-success Inventory
        \- Parts listed
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          = link_to dashboard_path do
            Dashboard
        %li
          Sell
        %li.active
          Sales History
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h6.panel-title
            Invnetory

-# .card
-# 	.card-content
-# 		.card-title.center-align
-# 			%h5.custom-card-title.center Inventory Parts
-# 		%hr/
-# 		/ %table#inventoryPartsDT.table.striped.responsive-table.bordered
-# 		%table#inventoryPartsDT.table.striped.responsive-table.bordered{"data-source" => "#{inventory_parts_path(format: "json")}"}
-# 			%thead
-# 				%tr
-# 					%th Part Number
-# 					%th Description
-# 					%th Serial Number
-# 					%th Condition
-# 					%th Manufacturer
-# 			%tbody
-#
-# %div.btn.custom-btn
-# 	%i.fa.fa-upload
-# 	= link_to 'Upload New Inventory', new_inventory_part_path
-# %div.right.btn.custom-btn.destroy-all-button
-# 	=link_to 'Delete All Inventory', remove_all_inventory_parts_path, method: :get, data: {confirm: "Are you sure you want to delete ALL of your inventory?"}
