.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-cogs.position-left.text-alert-warning
        %span.text-semibold.text-alert-warning Inventory
        \- Add a new part to your inventory
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          = link_to dashboard_path do
            Dashboard
        %li
          Manage
        %li
          Inventory
        %li.active
          New Part
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h4.panel-title.center
            Inventory
            %a.heading-elements-toggle
              %i.icon-more
          -# .heading-elements
          -#   %button.btn.btn-link.heading-btn.text-semibold.legitRipple{"data-target" => "#modal_update_inventory", "data-toggle" => "modal", :type => "button"}
          -#     %span Update Inventory
          -#     %b.icon-download7
        .panel-body
          = render 'form'
