.row
  .col.s12
    .card
      .card-content
        %div.card-title.activator.grey-text.text-darken-4.center-align
          Editing Engine Listing
        = render 'form'
        %hr/
  %div.btn.custom-btn
    %i.fa.fa-arrow-left
    = link_to 'View', @engine
