

.card
  .card-content
    .card-title.center-align
      %h5.custom-card-title.center Engines Availability
    %hr/
    = render partial: 'engine_table'
%div.btn.custom-btn
  %i.fa.fa-upload
  = link_to ' Add New Engine', new_engine_path