.card
  .card-content
    = link_to 'New Engine', new_engine_path, class: 'btn upload'
    .card-title.center-align
      %h5.custom-card-title.center Engines Availability
    %hr/
    = render partial: 'engine_table'
