.row
  .col.s12
    .card
      .card-content
        %div.card-title.activator.grey-text.text-darken-4.center-align
          Editing Aircraft Listing
        = render 'form'
        %hr/
        = link_to 'Aircraft Profile', @aircraft, class: "btn custom-btn"
        |
        = link_to 'Back', home_path, class: "btn custom-btn"
