.row
  .col.s12
    .card
      .card-content
        %h5.card-title.center Edit this Aircraft Listing
        %hr
        = render 'form'
        %hr/
    %div.btn.custom-btn
      %i.fa.fa-arrow-left
      = link_to 'View', @aircraft
