%div.btn.custom-btn
  %i.fa.fa-upload
  = link_to 'Add an Aircraft', new_aircraft_path
.card
  .card-content
    .card-title.center-align
      %h5.custom-card-title.center Aircraft Availability
    %hr/
    = render partial: 'aircraft_table'
