%p#notice= notice


.card
  .card-content
    = link_to 'New Aircraft', new_aircraft_path, class: 'btn'
    .card-title.center-align
      %h5 Aircraft Availability
    = render partial: 'aircraft_table'
