.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-airplane2.position-left.text-alert-warning
        %span.text-semibold.text-alert-warning New Aircraft Advertisment
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          = link_to dashboard_path do
            Dashboard
        %li
          Manage
        %li
          = link_to aircrafts_path do
            Aircraft Listings
        %li.active
          New Aircraft Advertisement
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      .panel.panel-flat
        .panel-heading
          %h5.panel-title
            Please complete the form below with your aircrafts specs!
        .panel-body
          = render 'form'
