/* line 11, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 15, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
body {
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-color: #293860;
  height: 100%;
  flex-direction: initial !important;
}

/* line 23, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 31, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.error-title {
  font-size: 6em;
  font-weight: 700;
  color: #189B4C;
}

/* line 37, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.error-subtitle {
  font-size: 40px;
  font-weight: 700;
  color: #1FA9D6;
}

/* line 43, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.error-buttons {
  margin: 30px;
}
/* line 46, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.error-buttons .button {
  font-weight: 700;
  border: 2px solid #189B4C;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: #189B4C;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
}
/* line 56, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.error-buttons .button:hover {
  background-color: #189B4C;
  color: white;
  transition: all 0.2s ease-in-out;
}

/* line 65, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.c {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 100px auto;
}

/* line 72, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

/* line 80, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}

/* line 88, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.cloud {
  width: 350px;
  height: 120px;
  background: #FFF;
  background: linear-gradient(top, #FFF 100%);
  background: -webkit-linear-gradient(top, #FFF 100%);
  background: -moz-linear-gradient(top, #FFF 100%);
  background: -ms-linear-gradient(top, #FFF 100%);
  background: -o-linear-gradient(top, #FFF 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;
}

/* line 108, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.cloud:after, .cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1;
}

/* line 115, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

/* line 124, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

/* line 133, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x1 {
  top: -50px;
  left: 100px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.9;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/* line 145, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x1_5 {
  top: -80px;
  left: 250px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: moveclouds 17s linear infinite;
  -moz-animation: moveclouds 17s linear infinite;
  -o-animation: moveclouds 17s linear infinite;
}

/* line 156, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x2 {
  left: 250px;
  top: 30px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

/* line 168, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x3 {
  left: 250px;
  bottom: -70px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.8;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

/* line 181, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x4 {
  left: 470px;
  botttom: 20px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

/* line 194, /Users/AnthonyLeon/bidaero/bidaerosite/bid-aero/app/assets/stylesheets/errors.scss */
.x5 {
  left: 200px;
  top: 300px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
