<h1>New Bid</h1>

<% @parts = current_user.inventory_parts %>
<% @match_parts = @parts.where(part_num: @auction.part_num) %>
  <%= @match_part.each do |part| %>
    <%= render part %>
  <% end %>

  
<%= render 'form' %>


<%= link_to 'Back', bids_path %>
