.col.s12.m6.offset-m3{style: "margin: auto;"}
  %h4.card-title.center-align.white-text
    Sign In
  = form_for(:login, url: login_path) do |f|
    .row
      %div
        = f.text_field :email, class: "validate", placeholder: "E-mail"
    .row
      %div
        = f.password_field :password, class: "validate", placeholder: "Password"
    .row
      %div
        =link_to "Forgot Your Password?", new_password_reset_path
    .row
      %button.btn.custom-btn.waves-effect.waves-light{:name => "action", :type => "submit"}
        %i.material-icons.right vpn_key
        Log In
    %p Not a registered company?
    %span
      %a.btn.custom-btn.waves-effect.waves-light{href: new_company_path}
        %i.material-icons.right lock_open
        Sign Up
    %a.waves-effect.waves-light.btn.custom-btn.right.modal-trigger{:href => "#aboutModal"} About
    #aboutModal.modal
      .modal-content
        = render './layouts/commons/about'

