.form-group.add-supplier-partial.mt-10
  .row.new-supplier-fields
    %a.remove-supplier{style: "align-self: center;", :onclick => "removeSupplier($(this))"}
      %i.icon-cross3
    .col-sm-4
      .supplierField
        = label_tag "Company Name", "Company Name"
        %br/
      = text_field_tag "invitees[]", "", class: "form-control"
    .col-sm-4
      .supplierField
        = label_tag "Company E-mail", "Company E-mail"
        %br/
      = text_field_tag "invitees[]", "", class: "form-control"
