.form-group.add-supplier-partial.mt-10
  .row
    .col-md-4.col-md-offset-1
      .supplierField
        = label_tag "Company Name", "Company Name"
        %br/
      = text_field_tag "invitees[]", "", class: "form-control"
    .col-md-4.col-md-offset-1
      .supplierField
        = label_tag "Company E-mail", "Company E-mail"
        %br/
      = text_field_tag "invitees[]", "", class: "form-control"
    .col-md-1
      %a.remove-supplier{:onclick => "removeSupplier($(this))"}
        %i.fa.fa-close
