#auction-partial
  .container
    %div
      %h4 Part information:
      = auction.auction_part.description
      %br/
      = auction.part_num
    %div
      %h4 Starting price:
      = number_to_currency auction.auction_part.init_price
