<div id="auction-partial">
  <div class="container">
    <div>
      <h4>Part Number:</h4>
      <%= auction.part_num %>
    </div>

    <div>
      <h4>Starting Price:</h4>
      <%= number_to_currency auction.auction_part.init_price %>
    </div>
  </div>
</div>
