<div id="auction_list" class="col-md-6 clearfix">
  <h2>Inactive auctions:</h2>
  <% unless @inactive_auctions.nil? %>

    <% @inactive_auctions.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>

  <% end %>
</div>


