.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-arrow-left52.position-left
        %span.text-semibold Edit eRFQ
        \- Editing Request for Quotation - PN: #{@auction.part_num}
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          =link_to dashboard_path do
            Dashboard
        %li
          Buy
        %li
          =link_to auctions_path do
            Sent eRFQ's
        %li.active
          Create eRFQ
      .heading-elements
        = link_to @auction do
          .btn-group.heading-btn
            %button.btn.btn-primary Return to eRFQ
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      = render 'form'
