.row
  .col.s12.m10.offset-m1
    .card
      .card-content
        %div.card-title.activator.grey-text.text-darken-4.center-align
          Editing Auction
        = render 'form'
        %hr/
        = link_to 'Show', @auction, class: "btn custom-btn"
        |
        = link_to 'Back', auctions_path, class: "btn custom-btn"
