.page-header
  .page-header-content
    .page-title
      %h4
        %i.icon-arrow-left52.position-left
        %span.text-semibold Create eRFQ
        \- Submit a new Request for Quotation
      %ul.breadcrumb.breadcrumb-caret.position-right
        %li
          =link_to dashboard_path do
            Dashboard
        %li
          Buy
        %li
          =link_to auctions_path do
            Sent eRFQ's
        %li.active
          Create eRFQ
  / Page container
.page-container{:style => "min-height:159px"}
  / Page content
  .page-content
    / Main content
    .content-wrapper
      = render 'form'
