<h1>PURCHASE CONFIRMATION</h1>

<!-- script src="https://sandbox.armorpayments.com/assets/js/modal.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var url = '<%#= raw @url %>';
	  console.log(url);
	  armor.openModal(url); 
	</script> -->
<script src="https://sandbox.armorpayments.com/assets/js/modal.min.js" type="text/javascript"></script>
	<a id="paymentInstructionsFrame-lightbox-preview" data-url="<%= @url %>" class="ui-action ui-action-small">Payment Instructions</a>