.page-header
	.page-header-content
		.page-title
			%h4
				%i.glyphicon.glyphicon-list-alt.position-left.text-primary
				%span.text-semibold.text-primary Checkout
				\- Please fill the following to proceed to the next step!
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					= link_to dashboard_path do
						Dashboard
				%li
					Buy
				%li
					Sent eRFQ's
				%li
					-# #{@auction.user_reference_num}
	/ Page container
.page-container{:style => "min-height:159px"}
	/ Page content
	.page-content
		/ Main content
		.content-wrapper
			.panel.panel-white
				=render 'destination'
