/ Footer
.footer.text-muted
  .col-1
    Website designed and programmed in Miami, Florida. Copyright ©#{Time.now.year} Bid Aero, Inc. All Rights Reserved.
/ /footer
/ %footer.page-footer.no-padding.no-margin
/   .row
/     .col.s12.m6.l4.offset-l3
/       %h5.grey-text Contact Us
/       %ul
/         %li
/           %a.grey-text.text-darken-3 13611 S. Dixie HWY
/         %li
/           %a.grey-text.text-darken-3 Suite 109-539 Miami, FL 33176
/       %a.grey-text.text-darken-3{:href => "mailto:support@bid.aero"} support@bid.aero

/     .col.s12.m6.l4
/       %h5.grey-text Links
/       %ul
/         %li
/           %a.grey-text.text-darken-3{:href => "/engine_listings"} Engine Listings
/         %li
/           %a.grey-text.text-darken-3{:href => terms_and_conditions_url} Terms and Conditions
/         %li
/           %a.grey-text.text-darken-3{:href => privacy_policy_url} Privacy Policy
/         %li
/           %a.grey-text.text-darken-3{:href => "https://escrow.payoneer.com/partners/resources/marketing-assets/Payoneer_Escrow_FAQ_Goods.pdf", :target => "_blank"} Escrow FAQ
        
/       /   %li
/       /     %a.grey-text.text-darken-3{:href => "#!"} Advertisment

/   .footer-copyright
/     .container
/       .row
/         .col.s12.offset-m2
/           %a.grey-text.text-darken-3