%footer.page-footer.no-padding.no-margin
  .row
    .col.s12.m6.l4.offset-l3
      %h5.grey-text Contact Us
      %ul
        %li
          %a.grey-text.text-darken-3 13611 S. Dixie HWY
        %li
          %a.grey-text.text-darken-3 Suite 109-539 Miami, FL 33176
      %a.grey-text.text-darken-3{:href => "mailto:info@bid.aero"} info@bid.aero

    .col.s12.m6.l4
      %h5.grey-text Links
      %ul
        %li
          %a.grey-text.text-darken-3{:href => "#!"} Advertisment
        %li
          %a.grey-text.text-darken-3{:href => "#!"} Terms and Conditions
        %li
          %a.grey-text.text-darken-3{:href => "#!"} Privacy Policy

  .footer-copyright
    .container
      %a.grey-text.text-darken-3 Website designed and programmed in Miami, Florida. Copyright ©2016 Bid Aero, Inc. All Rights Reserved.