.navbar.navbar-inverse
	.navbar-header
		%a.navbar-brand{:href => dashboard_path}
			= image_tag("/images/bid_aero_logo.png")
		%ul.nav.navbar-nav.pull-right.visible-xs-block
			%li
				%a{"data-target" => "#navbar-mobile", "data-toggle" => "collapse"}
					%i.icon-tree5
	#navbar-mobile.navbar-collapse.collapse
		%ul.nav.navbar-nav.position-right
			%li
				%a{:href => "#"} Text link
				%i.glyphicon.glyphicon-plus
				YOOOOO
			%li
				%a{:href => "#"}
					%i.icon-calendar3
					%span.visible-xs-inline-block.position-right Icon link
		%ul.nav.navbar-nav.navbar-right
			%li
				%a{:href => "#"}
					%i.icon-display4.position-left
			%li
				%a{:href => "#"}
					%i.icon-cog3
					%span.visible-xs-inline-block.position-right Icon link
			%li.dropdown.dropdown-user
				%a.dropdown-toggle{"data-toggle" => "dropdown"}
					%img{:alt => "", :src => "assets/images/image.png"}/
					%span Victoria
					%i.caret
				%ul.dropdown-menu.dropdown-menu-right
					%li
						%a{:href => "#"}
							%i.icon-user-plus
							My profile
					%li
						%a{:href => "#"}
							%i.icon-coins
							My balance
					%li
						%a{:href => "#"}
							%span.badge.badge-warning.pull-right 58
							%i.icon-comment-discussion
							Messages
					%li.divider
					%li
						%a{:href => "#"}
							%i.icon-cog5
							Account settings
					%li
						%a{:href => "#"}
							%i.icon-switch2
							Logout
/ /main navbar
/ Second navbar
#navbar-second.navbar.navbar-default
	%ul.nav.navbar-nav.no-border.visible-xs-block
		%li
			%a.text-center.collapsed{"data-target" => "#navbar-second-toggle", "data-toggle" => "collapse"}
				%i.icon-menu7
	#navbar-second-toggle.navbar-collapse.collapse
		%ul.nav.navbar-nav
			%li
				%a{:href => "../index.html"}
					%i.icon-display4.position-left
					Dashboard
			%li.dropdown.mega-menu.mega-menu-wide
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					Mega menu
					%span.caret
				.dropdown-menu.dropdown-content
					.dropdown-content-body
						.row
							.col-md-3
								%span.menu-heading.underlined Column 1 title
								%ul.menu-list
									%li
										%a{:href => "#"} First link, first column
									%li
										%a{:href => "#"} Second link (multilevel)
										%ul
											%li
												%a{:href => "#"} Second level, first link
											%li
												%a{:href => "#"} Second level, second link
											%li
												%a{:href => "#"} Second level, third link
											%li
												%a{:href => "#"} Second level, fourth link
									%li
										%a{:href => "#"} Third link, first column
									%li
										%a{:href => "#"} Fourth link, first column
							.col-md-3
								%span.menu-heading.underlined Column 2 title
								%ul.menu-list
									%li
										%a{:href => "#"} First link, second column
									%li
										%a{:href => "#"} Second link (multilevel)
										%ul
											%li
												%a{:href => "#"} Second level, first link
											%li
												%a{:href => "#"} Second level, second link
											%li
												%a{:href => "#"} Second level, third link
											%li
												%a{:href => "#"} Second level, fourth link
									%li
										%a{:href => "#"} Third link, second column
									%li
										%a{:href => "#"} Fourth link, second column
							.col-md-3
								%span.menu-heading.underlined Column 3 title
								%ul.menu-list
									%li
										%a{:href => "#"} First link, third column
									%li
										%a{:href => "#"} Second link (multilevel)
										%ul
											%li
												%a{:href => "#"} Second level, first link
											%li
												%a{:href => "#"} Second level, second link
											%li
												%a{:href => "#"} Second level, third link
											%li
												%a{:href => "#"} Second level, fourth link
									%li
										%a{:href => "#"} Third link, third column
									%li
										%a{:href => "#"} Fourth link, third column
							.col-md-3
								%span.menu-heading.underlined Column 4 title
								%ul.menu-list
									%li
										%a{:href => "#"} First link, fourth column
									%li
										%a{:href => "#"} Second link (multilevel)
										%ul
											%li
												%a{:href => "#"} Second level, first link
											%li
												%a{:href => "#"} Second level, second link
											%li
												%a{:href => "#"} Second level, third link
											%li
												%a{:href => "#"} Second level, fourth link
									%li
										%a{:href => "#"} Third link, fourth column
									%li
										%a{:href => "#"} Fourth link, fourth column
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					Starter kit
					%span.caret
				%ul.dropdown-menu.width-200
					%li.dropdown-header Basic layouts
					%li.dropdown-submenu
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-grid2
							Columns
						%ul.dropdown-menu
							%li.dropdown-header.highlight Options
							%li.active
								%a{:href => "1_col.html"} One column
							%li
								%a{:href => "2_col.html"} Two columns
							%li.dropdown-submenu
								%a{:href => "#"} Three columns
								%ul.dropdown-menu
									%li.dropdown-header.highlight Sidebar position
									%li
										%a{:href => "3_col_dual.html"} Dual sidebars
									%li
										%a{:href => "3_col_double.html"} Double sidebars
							%li
								%a{:href => "4_col.html"} Four columns
					%li.dropdown-submenu
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-paragraph-justify3
							Navbars
						%ul.dropdown-menu
							%li.dropdown-header.highlight Fixed navbars
							%li
								%a{:href => "layout_navbar_fixed_main.html"} Fixed main navbar
							%li
								%a{:href => "layout_navbar_fixed_secondary.html"} Fixed secondary navbar
							%li
								%a{:href => "layout_navbar_fixed_both.html"} Both navbars fixed
					%li.dropdown-header Optional layouts
					%li
						%a{:href => "layout_boxed.html"}
							%i.icon-align-center-horizontal
							Fixed width
					%li
						%a{:href => "layout_sidebar_sticky.html"}
							%i.icon-flip-vertical3
							Sticky sidebar
		%ul.nav.navbar-nav.navbar-right
			%li
				%a{:href => "#"} Text link
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					%i.icon-cog3
					%span.visible-xs-inline-block.position-right Dropdown
					%span.caret
				%ul.dropdown-menu.dropdown-menu-right
					%li
						%a{:href => "#"} Action
					%li
						%a{:href => "#"} Another action
					%li
						%a{:href => "#"} Something else here
					%li.divider
					%li
						%a{:href => "#"} One more separated line
/ /second navbar
/ Page header
.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-arrow-left52.position-left
				%span.text-semibold Starters
				\- One Column
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					%a{:href => "index.html"} Home
				%li
					%a{:href => "1_col.html"} Starters
				%li.active One column
		.heading-elements
			%a.btn.btn-labeled.btn-labeled-right.bg-blue.heading-btn{:href => "#"}
				Button
				%b
					%i.icon-menu7