.navbar.navbar-inverse
	.navbar-header
		%a.navbar-brand{:href => dashboard_path}
			= image_tag("/images/bid_aero_logo.png")
		%ul.nav.navbar-nav.pull-right.visible-xs-block
			%li
				%a{"data-target" => "#navbar-mobile", "data-toggle" => "collapse"}
					%i.icon-tree5
	#navbar-mobile.navbar-collapse.collapse
		%ul.nav.navbar-nav.navbar-right.top-navbar-right
			%li
				=link_to dashboard_path do
					%i.glyphicon.glyphicon-th-large.navbar-icon
			%li
				=link_to notifications_index_path do
					%i.glyphicon.glyphicon-bell.navbar-icon
			%li.dropdown.dropdown-user
				%a.dropdown-toggle{"data-toggle" => "dropdown"}
					%span Victoria
					%i.caret.navbar-icon
				%ul.dropdown-menu.dropdown-menu-right
					%li
						%a{:href => "#"}
							%i.icon-user-plus
							My/Company profile
					%li
						%a{:href => "#"}
							%i.icon-coins
							My balance
					%li
						%a{:href => "#"}
							%span.badge.badge-warning.pull-right 58
							%i.icon-comment-discussion
							Messages
					%li.divider
					%li
						%a{:href => "#"}
							%i.icon-cog5
							Account settings
					%li
						%a{:href => "#"}
							%i.icon-switch2
							Logout
/ /main navbar
/ Second navbar
#navbar-second.navbar.navbar-default
	%ul.nav.navbar-nav.no-border.visible-xs-block
		%li
			%a.text-center.collapsed{"data-target" => "#navbar-second-toggle", "data-toggle" => "collapse"}
				%i.icon-menu7
	#navbar-second-toggle.navbar-collapse.collapse
		%ul.nav.navbar-nav
			%li
				%a{:href => "../index.html"}
					%i
					BUY
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					SELL
					%span.caret
				%ul.dropdown-menu
					%li
						%a{:href => "#"}
							%i.icon-stack3
							My Quotes
					%li.dropdown-header Parts Wanted
					%li
						%a{:href => "#"}
							%i.icon-megaphone
							Broadcast
					%li
						%a{:href => "#"}
							%i.icon-envelop
							Buyer Invites
					%li.dropdown-header My Orders
					%li
						%a{:href => "#"}
							%i.icon-history
							Pending Sales
						%a{:href => "#"}
							%i.icon-chart
							Sales History
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					MANAGE
					%span.caret
				%ul.dropdown-menu
					%li
						%a
							%i.icon-cogs
							Inventory
					%li.dropdown-header Advertisements
					%li
						%a{:href => "layout_boxed.html"}
							%i.icon-airplane2
							Aircraft Listings
						%a{:href => "layout_boxed.html"}
							%i.icon-compass4
							Engine Listings
					%li.dropdown-header Services
					%li
						%a{:href => "layout_boxed.html"}
							%i.icon-cash
							Setup Payoneer Escrow
		%ul.nav.navbar-nav.navbar-right
			%li
				%a{:href => "#"} Text link
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					%i.icon-cog3
					%span.visible-xs-inline-block.position-right Dropdown
					%span.caret
				%ul.dropdown-menu.dropdown-menu-right
					%li
						%a{:href => "#"} Action
					%li
						%a{:href => "#"} Another action
					%li
						%a{:href => "#"} Something else here
					%li.divider
					%li
						%a{:href => "#"} One more separated line
/ /second navbar
/ Page header
.page-header
	.page-header-content
		.page-title
			%h4
				%i.icon-arrow-left52.position-left
				%span.text-semibold Starters
				\- One Column
			%ul.breadcrumb.breadcrumb-caret.position-right
				%li
					%a{:href => "index.html"} Home
				%li
					%a{:href => "1_col.html"} Starters
				%li.active One column
		.heading-elements
			%a.btn.btn-labeled.btn-labeled-right.bg-blue.heading-btn{:href => "#"}
				Button
				%b
					%i.icon-menu7
