= form_for(:login, url: login_path) do |f|
  .row
    %div
      = f.text_field :email, class: "validate", placeholder: "E-mail"
  .row
    %div
      = f.password_field :password, class: "validate", placeholder: "password"
  .row
    %button.btn.cyan.waves-effect.waves-light{:name => "action", :type => "submit"}
      %i.material-icons.right vpn_key
      Login In
  %p Not a registered company?
  %span
    %a.btn.cyan.waves-effect.waves-light{href: new_company_path}
      %i.material-icons.right lock_open
      Sign Up

