%div.break{style: "height: 75px; position: fixed;"}
%section.background
%section.about-us.bg-dark-alfa-90.first-section
  .col-3.about-us-first
    .col-1
      %h1.about-us-title.center 
        Who are we?
    .col-1
      .section-decorator.about-us
    .col-md-12
      .top-buffer
        BID AERO IS A TECH COMPANY, WHOSE SOLE PURPOSE IS TO BRING TECHNOLOGY TO AFTERMARKET AVIATION. IT BEGINS WITH BRINGING SOURCING & PROCUREMENT BEST PRACTICES INTO THIS INDUSTRY SEGMENT. BID AERO ALLOWS FOR AIRCRAFT AND ENGINE PART SALES TO BE DONE IN A SAFE AND EFFICIENT MANNER.


%section.about-us.page-section.second-section  
  .col-3.about-us-first
    .col-1
      %h1.about-us-title.center 
        WHO WE SERVE  
    .col-1
      .section-decorator.about-us
    .col-md-12
      .top-buffer
        MROs, AIRLINES, TEARDOWN SERVICES, SUPPLIERS, OEMs, LEASING COMPANIES AND ANY BUSINESSES WITH PART REQUIREMENTS. WE BUILT BID AERO FROM EXPERIENCING FIRST HAND ALL THE PAIN POINTS IN THE INDUSTRY.

%section.about-us.page-section.pt-0.pb-0.third-section.mb-lg-80
  .col-4.about-us-first.target
    .col-1
      %h1.third-title CHANGING THE WAY
    .col-1
      %h1.third-title.line-2 PARTS ARE BOUGHT AND SOLD
    .col-1
      .section-decorator.about-us
    .col-1
      .top-buffer.align-center
        WE HAVE ADOPTED BEST PRACTICES IN SOURCING & PROCUREMENT ACROSS INDUSTRIES FROM FORTUNE 100 COMPANIES. THE GOAL IS TO ADD TRANSPARENCY TO AIRCRAFT AND ENGINE SPARE PARTS TRADING. OUR RFQ SYSTEM ALLOWS BUYERS TO REACH ALL RELEVANT SUPPLIERS WITH THE CLICK OF A BUTTON. SUPPLIERS CAN EASILY SCAN THE MARKET FOR CURRENT OPPORTUNITIES TO MOVE INVENTORY THEY CURRENTLY HOLD IN STOCK. RFQs ARE ORGANIZED SO YOUR BUSINESS CAN SEE HOW MUCH VALUE IS TRULY BEING ADDED THROUGH REVERSE AUCTION. CONTROL AND TRACK FINANCIAL DATA, GIVING YOU A NEW WORLD OF INSIGHT. 
      .top-buffer.align-center
        OUR SECURE ESCROW GIVES BUYERS CONFIDENCE THAT THEY WILL RECEIVE WHAT THEY EXPECT, AND SELLERS WILL NEVER BE AT RISK OF NON-PAYMENT.

%section.about-us.page-section.pt-0.pb-0.fourth-section
  .col-6.about-us-first.target
    .col-1
      %h1.about-us-title.target-market-title.center
        TARGET MARKET
    .col-1
      .section-decorator.about-us
    .col-1
      .top-buffer.align-center
        BID AERO SERVICES THE MAIN AIRCRAFT AND ENGINE MARKETS. EQUIPMENT WE FOCUS ON INCLUDES:
    .col-1.col-2.align-center.asset-companies.all-assets
      / Features Item
      .col-1.benefits-squares
        %h6.alt-features-title.font-alt.larger-font AIRCRAFTS
        %h6.alt-features-title
          %ul.assets-list
            %li BOEING
            %li AIRBUS
            %li ATR
            %li EMBRAER
            %li BOMBARDIER
            %li FOKKER
            %li SAAB
      .col-1.benefits-squares
        %h6.alt-features-title.font-alt.larger-font ENGINES
        %h6.alt-features-title
          %ul.assets-list
            %li CFM56
            %li CF6/CF34
            %li PW 2000/4000/6000
            %li JT3D/JT8D/JT9D
            %li RB211/RB282
            %li ROLLS ROYCE TRENT
            %li V2500
            %li PT6
            %li GE90
    .col-1.col-3.parts-list.all-assets
      .col-1.parts
        %ul.assets-list.equipment
          %li AVIONICS
          %li LIFE LIMITED PARTS (LLPs)
          %li ENGINE PARTS
          %li AIRFRAME PARTS
          %li ENGINE TOOLING
      .col-1.parts
        %ul.assets-list.equipment
          %li LANDING GEAR
          %li CONSUMABLES
          %li EXPENDABLES
          %li ROTABLES
          %li COMPONENTS
      .col-1.parts
        %ul.assets-list.equipment
          %li APUs
          %li APU PARTS
          %li WHEELS
          %li BRAKES
          %li LINE REPLACEABLE UNITS (LRUs)

