%div.break{style: "height: 75px; position: fixed;"}
%section#about-us.bg-dark-alfa-90.about-us.first-section
  .col-md-9.align-center
    .first-section.col-md-12
      .font-alt
        .h1
          %p.first-section-title Who are we?
          .section-decorator
      .col-md-12
        .top-buffer
          BID AERO IS A TECH COMPANY, WHOSE SOLE PURPOSE IS TO BRING TECHNOLOGY TO AFTERMARKET AVIATION. IT BEGINS WITH BRINGING SOURCING & PROCUREMENT BEST PRACTICES INTO THIS INDUSTRY SEGMENT. BID AERO ALLOWS FOR AIRCRAFT AND ENGINE PART SALES TO BE DONE IN A SAFE AND EFFICIENT MANNER.
%section#about.page-section.pt-0.pb-0.second-section
  %br
  %br
  .container.relative
    .row
      .col-md-offset-2.col-md-8
        .mt-140.mt-lg-80.mb-140.mb-lg-80
          .banner-content
            %h1 WHO WE SERVE
            .clients-subtext
              ANY BUSINESS WITH PART REQUIREMENTS. WE BUILT BID AERO FROM EXPERIENCING FIRST HAND ALL THE PAIN POINTS IN THE INDUSTRY.
%section#infographic.page-section.shadow_section.buyer-benefits
  %span.section-decorator
  %h6.section-title.font-alt.mb-35.mb-sm-40.benefits-title
    %span{:style => "color: #4881bd;"}BUYER BENEFITS
  %h3.section-sub-title.font-alt.mb-20.mb-sm-40.benefits-subtitle
    %span{:style => "color: #4881bd;"}SOURCING & PROCUREMENT MADE EASY
  .container.relative.mb-20
    / Features Grid
    .row.multi-columns-row.alt-features-grid.align-center.benefits-first-row
      / Features Item
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-clock-o
            %h6.alt-features-title.font-alt Reduced Lead Times
            %h6.alt-features-title.benefits.font-alt-small
              Our platform elimnates time spent sourcing parts. We eliminate "no quotes". One click generates an auction (RFQ) which brings all the suppliers to you.
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-lock
            %h6.alt-features-title.font-alt Your Money Is Safe at All Times
            %h6.alt-features-title.benefits.font-alt-small
              Payment isn't released to the seller until the the part has been delivered and approved. If the part is not as described, you can file a dispute and be reimbursed.
  .container.relative
    / Features Grid
    .row.multi-columns-row.alt-features-grid.align-center
      / Features Item
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-dollar
            %h6.alt-features-title.font-alt Cost Savings
            %h6.alt-features-title.benefits.font-alt-small
              Buyers can expereince cost savings of 20-40% on part purchases.
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-files-o
            %h6.alt-features-title.font-alt Organized Sourcing
            %h6.alt-features-title.benefits.font-alt-small
              Each sourcing event's (RFQ) information is organized in one central location. This allows you to audit and quantify your realized cost savings in purchasing.

      / End Features Item
      / Features Item
%section#infographic.page-section.shadow_section.seller-benefits
  %span.section-decorator
  %h6.section-title.font-alt.mb-35.mb-sm-40.benefits-title
    %span{:style => "color: #4881bd;"}SELLER BENEFITS
  %h3.section-sub-title.font-alt.mb-20.mb-sm-40.benefits-subtitle
    %span{:style => "color: #4881bd;"}SELL NEAR, SELL FAR, SELL MORE
  .container.relative.mb-20
    / Features Grid
    .row.multi-columns-row.alt-features-grid.align-center.benefits-first-row
      / Features Item
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-shield
            %h6.alt-features-title.font-alt Never at risk of Non-payment
            %h6.alt-features-title.benefits.font-alt-small
              We collect payment through our secure escrow before you ship, this ensures that your assets are never at risk.
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-globe
            %h6.alt-features-title.font-alt Greater Reach
            %h6.alt-features-title.benefits.font-alt-small
              Our security allows you to do business anywhere in the world without the worry, multiplying your sales reach with confidence.
  .container.relative
    / Features Grid
    .row.multi-columns-row.alt-features-grid.align-center
      / Features Item
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-bolt
            %h6.alt-features-title.font-alt Quote with Efficiency
            %h6.alt-features-title.benefits.font-alt-small
              Traceability documents are saved to your parts, so that you can quote with the click of a button.
      .benefits-squares
        .col-md-6.mb-40
          .alt-features-item.align-center.boxit
            .alt-features-icon.benefits
              %i.fa.fa-line-chart
            %h6.alt-features-title.font-alt Automated Sales Leads
            %h6.alt-features-title.benefits.font-alt-small
              Browse through all the sourcing events (RFQs), for which you the have inventory, allowing you the ability to sell any line item in your inventory.
