%section#key.shadow_section.page-section.pt-0.pb-0.banner-section.bg-dark{"data-background" => asset_path("full-width-images/Features_bid-1.png"), :style => "background-attachment:initial;"}
  .container.relative
    .row
      .col-md-6
        %h1.title_0{:style => "margin: 245px 0px 0px 0px;"} KEY FEATURES
      .col-sm-6
        #key.mt-140.mt-lg-80.mb-140.mb-lg-80
          .banner-content
            .banner-decription{:style => "height:250px"}
    / Scroll Down
    .local-scroll
      %a{:href => "#key1"}
        %img.scroll-down{:src => asset_path("footer/white-arrow-down.png")}/
    / End Scroll Down
/ END KEY FEATURES
/ KEY FEATURES 1
%section#key1.shadow_section.page-section.pt-0.pb-0.bg-dark{:style => "background-attachment:initial; background-color:#098d18;"}
  .row
    %ul.nav.nav-pills.nav-justified
      %li.active
        %a{"data-toggle" => "tab", :href => "#REVERSE"} REVERSE AUCTION
      %li
        %a{"data-toggle" => "tab", :href => "#POTENTIAL"} POTENTIAL SALE NOTIFICATION
      %li
        %a{"data-toggle" => "tab", :href => "#SECURE"} SECURE PAYMENT
      %li
        %a{"data-toggle" => "tab", :href => "#INVENTORY"} INVENTORY LISTING
      %li
        %a{"data-toggle" => "tab", :href => "#ASSET"} ASSET LISTING
      %li
        %a{"data-toggle" => "tab", :href => "#FINANCIAL"} FINANCIAL TRACKING
    .col-md-6.banner-image.wow.fadeInUp{"data-wow-duration" => "1.2s"}
      %img{:alt => "", :src => asset_path("full-width-images/pc.png"), :style => ""}/
    .col-sm-6
      .mt-140.mt-lg-80.mb-140.mb-lg-80
        .tab-content
          #REVERSE.tab-pane.fade.in.active
            %h1.marginbo REVERSE AUCTION
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
          #POTENTIAL.tab-pane.fade
            %h1.marginbo POTENTIAL SALE NOTIFICATION
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
          #SECURE.tab-pane.fade
            %h1.marginbo SECURE PAYMENT
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
          #INVENTORY.tab-pane.fade
            %h1.marginbo INVENTORY LISTING
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
          #ASSET.tab-pane.fade
            %h1.marginbo ASSET LISTING
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
          #FINANCIAL.tab-pane.fade
            %h1.marginbo FINANCIAL TRACKING
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped. healthy competition ensures fair market value.
