%section#key.shadow_section.page-section.pt-0.pb-0.bg-dark.fill-screen-mobile{"data-background" => asset_path("full-width-images/Features_bid-1.jpg"), :style => "background-attachment:initial;"}
  .container.relative
    .row
      .col-md-6
        %h1.title_0{:style => "margin: 245px 0px 0px 0px;"} KEY FEATURES
      .col-sm-6
        #key.mt-140.mt-lg-80.mb-140.mb-lg-80
          .banner-content
            .banner-description{:style => "height:250px"}
    / Scroll Down
  .row
    %a.discover-btn{:href => "#features"}
      %img.key-features-scroll-down{:src => asset_path("footer/white-arrow-down.png")}/
    / End Scroll Down
/ END KEY FEATURES
/ KEY FEATURES 1
%section.shadow_section.page-section.pt-0.pb-0.bg-dark{:style => "background-attachment:initial; background-color:#098d18;"}
  .row
    %ul.nav.nav-pills.nav-justified
      %li.active
        %a{"data-toggle" => "tab", :href => "#REVERSE"} REVERSE AUCTION
      %li
        %a{"data-toggle" => "tab", :href => "#POTENTIAL"} AUTOMATED SALES LEADS
      %li
        %a{"data-toggle" => "tab", :href => "#SECURE"} SECURE PAYMENT
      %li
        %a{"data-toggle" => "tab", :href => "#INVENTORY"} INVENTORY LISTING
      %li
        %a{"data-toggle" => "tab", :href => "#ASSET"} ASSET LISTING
      %li
        %a{"data-toggle" => "tab", :href => "#FINANCIAL"} FINANCIAL TRACKING
    .col-sm-12
      .mt-40.mt-lg-80.mb-140.mb-lg-80
        .tab-content
          #REVERSE.tab-pane.fade.in.active
            .col-md-6.banner-image.wow.fadeInUp{"data-wow-duration" => "1.2s"}
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc1.png"), :style => ""}/
            %h1.marginbo REVERSE AUCTION
            %p.tit1 Ensure affordability and efficiency with our Reverse Auction approach. When the roles of buyer and seller are flipped, healthy competition ensures fair market value. 
          #POTENTIAL.tab-pane.fade
            .col-md-6.banner-image
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc2.png"), :style => ""}/
            %h1.marginbo AUTOMATED SALES LEADS
            %p.tit1 As users search for parts, vendors with the appropriate part are notified of the sale opportunity, which reduces time spent searching for leads and provides vendors with a larger reach of customers.
          #SECURE.tab-pane.fade
            .col-md-6.banner-image
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc3.png"), :style => ""}/
            %h1.marginbo SECURE PAYMENT
            %p.tit1 Protecting both buyers and vendors is our priority. Every payment is transferred into escrow prior to shipment to ensure that the seller will receive payment. This safeguard also protects the buyer since they must approve the delivery for payment to be released from the escrow account. All disputes are handled by a third party, NetNeutrals.com.
          #INVENTORY.tab-pane.fade
            .col-md-6.banner-image
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc4.png"), :style => ""}/
            %h1.marginbo INVENTORY LISTING
            %p.tit1 Our platform allows you to list all your parts using an excel spreadsheet. Once the parts are uploaded, users can attach traceability documents to each part to accelerate the bidding process. 
          #ASSET.tab-pane.fade
            .col-md-6.banner-image
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc5.png"), :style => ""}/
            %h1.marginbo ASSET LISTING
            %p.tit1 Listing an Aircraft or Engine for sale or lease has never been easier. Market any available asset for free on Bid Aero. This free, online resource allows the user to upload documents on each individual aircraft and engine available for sale or for lease to provide all the information needed to interested parties. 
          #FINANCIAL.tab-pane.fade
            .col-md-6.banner-image
              %img.featurespc{:alt => "", :src => asset_path("full-width-images/pc6.png"), :style => ""}/
            %h1.marginbo FINANCIAL TRACKING
            %p.tit1 We understand the importance of visually understanding your company’s cash flow patterns, which is why we provide the ability to easily review past purchases and sales with an organized cash flow view. 

%section#infographic.page-section.shadow_section{style: "background-color: white !important;"}
  %h1.section-title.font-alt.mb-40.mb-sm-40
    %span{:style => "color: #4881bd;"}HOW IT WORKS
  %h3.section-sub-title.font-alt.mb-20.mb-sm-40
    %span{:style => "color: #4881bd;"}WHEN YOU BUY
  .container.relative
    / Features Grid
    .row.multi-columns-row.alt-features-grid.align-center
      / Features Item
      .col-sm-6.col-md-4.col-lg-4.mb-40
        .alt-features-item.align-center.boxit
          .alt-features-icon
            %img.services{:src => asset_path("service/3.png")}/
          %h6.alt-features-title.font-alt REACH MULTIPLE SUPPLIERS
          %h6#margin.alt-features-title.font-alt-small
            When engaging in a part search, all relevant suppliers are given the opportunity to quote.
      / End Features Item
      / Features Item
      .col-sm-6.col-md-4.col-lg-4.mb-40
        .alt-features-item.align-center.boxit
          .alt-features-icon
            %img.services{:src => asset_path("service/5.png")}/
          %h6.alt-features-title.font-alt FIND THE PART YOU NEED
          %h6#margin.alt-features-title.font-alt-small
            Review all quotes and select the best option.
      / End Features Item
      / Features Item
      .col-sm-6.col-md-4.col-lg-4.mb-40
        .alt-features-item.align-center.boxit
          .alt-features-icon
            %img.services{:src => asset_path("service/1.png")}/
          %h6#margin.alt-features-title.font-alt SEND MONEY TO ESCROW
          %h6#margin.alt-features-title.font-alt-small
            Secure funds in escrow in order to ensure your money is never at risk.

    / End Features Item
    %h3.section-sub-title.font-alt.mb-20.mb-sm-40
      %span{:style => "color: #4881bd;"} WHEN YOU SELL
    / Features Item
    .col-sm-6.col-md-4.col-lg-4.mb-40
      .alt-features-item1.align-center.boxit
        .alt-features-icon
          %img.services.align-center{:src => asset_path("service/2.png")}/
        %h6.alt-features-title.font-alt AUTOMATED SALES LEADS
        %h6#margin.alt-features-title.font-alt-small
          Get notified when new sales opportunities arise.
    / End Features Item
    / Features Item
    .col-sm-6.col-md-4.col-lg-4.mb-40
      .alt-features-item1.align-center.boxit
        .alt-features-icon
          %img.services{:src => asset_path("service/6.png")}/
        %h6.alt-features-title.font-alt SHIP YOUR PART
        %h6#margin.alt-features-title.font-alt-small
          Ship your part, once payment is securely in escrow. This ensures you are never at risk of non-payment.
    / End Features Item
    / Features Item
    .col-sm-6.col-md-4.col-lg-4.mb-40
      .alt-features-item1.align-center.boxit
        .alt-features-icon
          %img.services{:src => asset_path("service/4.png")}/
        %h6.alt-features-title.font-alt RECIEVE PAYMENT
        %h6#margin.alt-features-title.font-alt-small
          Payment is released upon buyer approval.
