.col-sm-12.mt-70
  .col-sm-4.col-sm-offset-4.text-center
    %h3
      You want it? We got it!
    %h5
      Part Number:
      = @part.part_num
    %h5
      Quantity listed on Bid Aero:
      = @part_count
    %h5
      Description:
      = @part.part.description
