%div.privacy_policy{style: 'margin: 45px 40px;'} 
  %div.text-center
    %h2.text-center
      Bid Aero, Inc.
    %h3.center-align
      Privacy Policy
  %div{style: "padding-top: 60px;"}
    %p
      This Privacy Policy describes how Bid.Aero, Inc. (referred to in this Privacy Policy as “Bid.Aero,” “Company,” “we,” “us,” or “our”) collects information when you visit or use our website located at www.bid.aero and any of our other websites which display this Privacy Policy (collectively, the “Site”).  It also explains how we use and disclose the information we collect from you, and your rights in relation to that information.   
      %strong
        By accessing, visiting or using the Site, you expressly consent to our collection, storage, use and disclosure of your information as described in this Privacy Policy.   Please note that if you disagree with anything in this Privacy Policy, you must not use the Site.  This Privacy Policy is part of, and is governed by, the terms and conditions set forth in our Access and Usage Terms and Conditions located at www.bid.aero (“Terms of Service”). 
  %div
    %h4
      1.  Information Collected through the Site.
  %div{style: 'margin-left: 15px;'}
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      A.  Information You Directly and Voluntarily Provide to Us.  
    %div
      If you are a visitor to or user of the Site, we may collect information that you provide to us when you communicate with any of our departments such as customer service or technical services, and when you register as a user of the Site or purchase any products or services via the Site.  You may also choose to provide your name, email address, physical address, payment account information and other information we may request from you, to us if you would like to additional information about the Company and the work we do.
  %div{style: 'margin-left: 15px;'}
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      B.  Information Automatically Collected Through the Site.
    %div
      We may automatically collect information about you when you use the Site. For example, if you access the Site through a computer, we will automatically collect information such as your browser type and version, computer and connection information, IP address and standard web log information.  If you access the Site through a mobile device, we may also be able to identify the location of your mobile device.   You may choose not to share your location details with us by adjusting your mobile device’s location services settings.  For instructions on changing the relevant settings, please contact your service provider or device manufacturer.
    %div
      We may automatically collect information from you when you use the Site using “cookies.”  Cookies are small amounts of data that are stored within your computer’s Internet browser and that are accessed and recorded by the websites that you visit so that they can recognize the same browser navigating online at a later time. 
    %div
      Information that may be collected by cookies when you use the Site may include: 
    %div
      %ul{style: 'margin: 10px;'}
        %li
          the pages you visit within the Site; 
        %li
          the date and time of your visit to the Site; 
        %li
          the amount of time you spend using the Site;
        %li
          the Internet Protocol (IP) address used to connect your computer to the Internet; and/or
        %li
          your computer and connection information such as your browser type and version, operating system and platform.
    %div
      You can set your browser to reject cookies or to notify you when you are sent a cookie. However, if you disable cookies you may not be able to use certain features of the Site.  In addition, your browser may allow you to adjust your browser settings so that “do not track” requests are sent to the websites that you visit.  However, the Company will not disable tracking technology that may be active on the Site in response to any “do not track” requests that we receive from your browser. 
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      2.  How We Use the Information We Collect.  
    %div
      We use the information we gather through the Site in the following ways:
    %div
    %ul{style: 'margin: 10px;'}
      %li
        to request feedback and to enable us to better understand how the Site is being used and how it can be improved;
      %li
        to contact and communicate with you and to respond to your communications and requests about the Site, or about our products or services, or special events or offers;
      %li
        for internal and marketing, promotional, and informational purposes;
      %li
        to process your purchase orders placed via the Site and provide products and services purchased by you from or via Bid.Aero, whether via the Site or otherwise; and
      %li
        for any other purpose for which you specifically provide the information to us. 
    %div
      If you provide your email address to us, we may email you with information and updates about the Company and its products and services that we believe may be of interest to you. If you wish to opt-out of receiving these emails from us, please follow the instructions contained in each email you receive from us which will allow you to opt-out of receiving further marketing emails from us.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      3.  How We Share Your Information with Third Parties. 
    %div
      We do not sell or rent user information we collect through the Site to any unaffiliated third parties for their own marketing purposes. In the event the Company wants to sell or rent your information to unaffiliated third parties for their own marketing purposes in the future, we will notify you and you will have an opportunity to affirmatively opt-in to receiving these third party marketing communications. The Company does share your information with third parties in some circumstances as follows: 
    %div{style: 'margin-left: 15px;'}
      %h5.strong{style: 'margin: 25px 0 10px 0;'}
        A.  Employees and Third-Party Service Providers. 
      %div
        We will disclose your information to our employees, contractors, vendors and suppliers (“Service Providers”) who provide products and services to us or on our behalf, such as operating and supporting the Site, analyzing data, or performing marketing or consulting services, or in connection with your purchase of products or services provided by such Service Providers.  These Service Providers will only have access to the information needed to perform these functions.  
    %div{style: 'margin-left: 15px;'}
      %h5.strong{style: 'margin: 25px 0 10px 0;'}
        B.  Other Users of the Site.  
      %div
        We will disclose your information to other users of the Site in connection with the operation and use of the Site.
    %div{style: 'margin-left: 15px;'}
      %h5.strong{style: 'margin: 25px 0 10px 0;'}
        C.  Response to Subpoenas or Court Orders or to Protect Rights and to Comply with Our Policies. 
      %div
        To the extent permitted by law, we will disclose your information to government authorities or third parties if: (i) required to do so by law, or in response to a subpoena or court order; (ii) we believe in our sole discretion that disclosure is reasonably necessary to protect against fraud, to protect the property or other rights of us or other users, third parties or the public at large; or (iii) we believe that you have abused the Site by using it to attack other systems or to gain unauthorized access to any other system, to engage in spamming or otherwise to violate applicable laws or in violation of our Terms of Service. You should be aware that, following disclosure to any third party, your information may be accessible by others to the extent permitted or required by applicable law.
    %div{style: 'margin-left: 15px;'}
      %h5.strong{style: 'margin: 25px 0 10px 0;'}
        D.  Business Transfers; Bankruptcy. 
      %div
        In the event of a merger, acquisition, bankruptcy or other sale of all or a portion of our assets, any user information owned or controlled by us may be one of the assets transferred to third parties. We reserve the right, as part of this type of transaction, to transfer or assign your information and other information we have collected from users of the Site to third parties.  Other than to the extent ordered by a bankruptcy or other court, the use and disclosure of all transferred user information will be subject to this Privacy Policy. However, any information you submit or that is collected after this type of transfer may be subject to a new privacy policy adopted by the successor entity.
    %div{style: 'margin-left: 15px;'}
      %h5.strong{style: 'margin: 25px 0 10px 0;'}
        E.  Aggregate Information.  
      %div
        We may share information relating to users of the Site with affiliated or unaffiliated third parties on an anonymous, aggregate basis. While this information will not identify you personally, in some instances these third parties may be able to combine this aggregate information with other data they have about you, or that they receive from third parties, in a manner that allows them to identify you personally. 
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      4.  Children Under Age 13. 
    %div
      The Site is not intended for children under age 13, or for anyone under age 18 or the applicable age of majority without involvement of a parent or guardian.  We do not knowingly collect or distribute personal information from or about children under the age of 13. 
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      5.  Security.  
    %div
      We implement industry standard security measures intended to protect against the loss, misuse and alteration of the information under our control. Please be aware that no data transmission over the Internet can be guaranteed to be 100% secure. As a result, the Company cannot guarantee or warrant the security of any information you transmit on or through the Site and you do so at your own risk.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      6.  Amendments to this Privacy Policy.   
    %div
      We will notify you of changes to this Privacy Policy by posting the amended terms on the Site at least thirty (30) days before the effective date of the changes.  If you do not agree to the changes, you should discontinue your use of the Site prior to the time the modified privacy policy takes effect.  If you continue using the Site after the modified privacy policy takes effect, you will be bound by the modified privacy policy.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      7. Use of Information Outside Your Country of Residence.     
    %div
      The Site is directed to users located in the United States.  If you are located outside of the United States and you choose to use the Site or provide your information to us, your information may be transferred to, processed and maintained on servers or databases located in the United States.  Your use of the Site represents your consent and agreement to these practices.  If you do not want your information transferred to or processed or maintained in the United States, you should not use the Site.  
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      8.  Accessing, Changing and Managing Your Information.      
    %div
      If you have provided your name and email address to us, you may request that we remove your name and email address from our database by contacting us at support@bid.aero.  Following receipt of a request from you, we will take reasonable steps to delete your information as requested. Bid.Aero also honors requests from users for corrections or revisions to account information.  
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      9.  Other Web Sites.    
    %div
      Our privacy policy only applies to our Site.  Our Site may link from several points throughout our Site to third party information and service providers who may collect personal information from our users in order to provide our users with information, products and/or services. Our Site content may also be featured on other websites with differing or non-existent privacy policies.  These websites may collect personal information from their users that may or may not be used in conjunction with our Site information.  Bid.Aero has no control over the privacy policy of any third party.  Please examine the privacy policies of such third parties prior to submitting any personal information, as they may differ from ours.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      10. Advertisements.     
    %div
      Advertisements may appear on pages throughout our Site.   Some advertisements may request information directly from our users or take our users to websites that may request personal information.  Bid.Aero has no control over its advertisers’ privacy policies, so please examine the privacy policy of any third party advertising on our Site prior to submitting any personal information.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      11. Surveys.
    %div
      Occasionally, we may conduct surveys on our Site. Surveys are conducted at random and are completely voluntary to our Site users.  The survey may require a user to provide personal information in exchange for the information or services provided by the survey.  We may use this information in an aggregate manner to better tailor the type of services, information, and advertising that are provided on our Site.
  %div
    %h5.strong{style: 'margin: 25px 0 10px 0;'}
      12. Questions? How to Contact Us.  
    %div
      Please also feel free to contact us at support@bid.aero if you have any questions about this Privacy Policy. 

