%div.break{style: "height: 75px; position: fixed;"}
%section#home.home-section.bg-dark-alfa-90.fill-screen{"data-background" => asset_path("full-width-images/slider1.jpg")}
  .js-height-full
    .col-md-8.col-md-offset-2.align-center
      .col-md-8.col-md-offset-2.slide1
        %form.form-inline.part_form
          .form-group
            / %input.newsletter-field.form-control.input-md.round.mb-xs-10{:pattern => ".{5,100}", :placeholder => "ENTER CRITERIA", :required => "", :type => "email"}/
          / .form-group
          /   %select.form-control.silver{"ng-model" => "discussionsSelect"}
          /     %option{:value => "PART NUMBER"} PART NO
          /     %option{:value => "+91"} +91
          /     %option{:value => "+910"} +910
          /     %option{:value => "+915"} +915
          / %button.btn.btn-mod.btn-medium.btn-round.round.mb-xs-1.silver{:type => "submit"}
          /   SEARCH
        .newsletter-label.font-alt
          .heading1
            %p The Revolution
            %p Is Here
          / .heading2
          /   %p.heading2 Over 160,000 Parts Listed
        .col-md-12
          .btn.custom-btn.call-to-action
            = link_to "GET STARTED FOR FREE", sign_up_form_path
    / .local-scroll
    /   %a{:href => "#about"}
    /     %img.scroll-down{:src => asset_path("footer/white-arrow-down.png")}/
%section#about.shadow_section.page-section.pt-0.pb-0.banner-section.bg-dark{"data-background" => asset_path("full-width-images/section-bg-26.png")}
  %br
  %br
  .container.relative
    .row
      .col-md-6
      .col-sm-6.banner-box
        .mt-140.mt-lg-80.mb-140.mb-lg-80
          .banner-content
            %h1.marginbo BID AERO IS...
            .banner-description
              A sourcing and procurement platform for aftermarket aviation spare parts, that utilizes a reverse auction.  Reverse auction flips the traditional roles of buyer and vendor to create healthy competition for your benefit. The buyer simply issues an RFQ to their approved vendors, Bid Aero suppliers can also quote RFQs for which they have the stock.  This allows the vendors to compete against each other to make the sale, ensuring fair market value for the sourced item.
            .banner-description
              Vendors are presented with automated sales leads, and are exposed to a greater reach to buyers they would not normally do business with. By implementing supply chain methodologies adopted from Fortune 100 companies that meets ISM standards, Bid Aero provides the most efficient and transparent way to source the parts you need.
%section#infographic.page-section.shadow_section.buyer-benefits
  %span.section-decorator
  %h6.section-title.font-alt.mb-35.mb-sm-40.benefits-title
    %span{:style => "color: #4881bd;"}BUYER BENEFITS
  .benefits-subtitle.align-center
    %span{:style => "color: #4881bd;"}SOURCING & PROCUREMENT MADE EASY
  .container.relative
    .container.col-2.buyer-benefits-row
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-files-o
          .feature-title
            Organized Sourcing
          .features-title.feature-description
            All RFQs are organized on one page, with all the information you need. This eliminates the hassle of sifting through all of your e-mails for quotes, documentation, and contact information. And allows you to audit and quantify your realized cost savings in purchasing.
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-lock
          .feature-title
            Your Money Is Safe at All Times
          .features-title.feature-description
            Use our escrow service to ensure you get what you paid for. Payment won't released to the seller until the the part has been delivered and approved. If the part is not as described, you can file a dispute and be reimbursed.

    .container.col-2.buyer-benefits-row
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-clock-o
          .feature-title
            Reduced Lead Times
          .features-title.feature-description
            Our platform elimnates time spent sourcing parts. We eliminate "no quotes". One click generates an RFQ which brings all the suppliers to you.
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-dollar
          .feature-title
            Cost Savings
          .features-title.feature-description
            Buyers can experience cost savings of 20-40% on part purchases through reverse auctions.



      / End Features Item
      / Features Item
%section.shadow_section.seller-benefits
  %span.section-decorator
  %h6.section-title.font-alt.mb-35.mb-sm-40.benefits-title
    %span{:style => "color: #4881bd;"}SELLER BENEFITS
  .benefits-subtitle.align-center
    %span{:style => "color: #4881bd;"}SELL NEAR, SELL FAR, SELL MORE
  .container.relative
    / Features Grid
    .container.col-2.buyer-benefits-row
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-line-chart
          .feature-title
            Automated Sales Leads
          .features-title.feature-description
            Upload you inventory on the cloud and you can browse through a feed with all of your Sales Opportunities. These opportunities show up in real-time as RFQs are genereated.
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-shield
          .feature-title
            Never at risk of Non-payment
          .features-title.feature-description
            Ensure that your assets are never at risk by utilizing our secure escrow system. By choosing to use escrow, we won't tell you to ship the part until the money has been transferred by the buyer into the escrow account.

    .container.col-2.buyer-benefits-row
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-bolt
          .feature-title
            Quote with Efficiency
          .features-title.feature-description
            Traceability documents are saved to your parts, so that you can quote with the click of a button.
      .col-1.feature
        .align-center
          .feature-icon
            %i.fa.fa-globe
          .feature-title
            Greater Reach
          .features-title.feature-description
            Our security allows you to do business anywhere in the world without the worry, multiplying your sales reach with confidence.
