%div.t-and-c{style: 'margin: 45px 40px;'} 
  %div.text-center
    %h2
      Bid.Aero Access and Usage Terms and Conditions
  %div
    %div.strong{style: 'margin: 10px 0;'}
      YOUR CLICKING “I AGREE” HERETO, YOUR USE OF THIS WEBSITE (the “Site”) AND/OR YOUR PURCHASE OR USE OF ANY SERVICES PROVIDED BY BID.AERO OR ITS THIRD PARTY SERVICE PROVIDERS VIA THE SITE CONSTITUTES ACCEPTANCE OF THE TERMS AND CONDITIONS PROVIDED BELOW (THE “TERMS”).  YOU REPRESENT AND WARRANT THAT YOU ARE OF LEGAL CONTRACTING AGE AND HAVE LEGAL CAPACITY TO CONTRACT, AND THAT YOU ARE NOT OTHERWISE PROHIBITED FROM PURCHASING OR USING ANY SERVICES PROVIDED VIA THE SITE. 
    %div.strong{style: 'margin: 10px 0;'}
      Bid.Aero, Inc. and/or its affiliates (collectively, “Bid.Aero,” “we” or “us”) may modify the Terms as well as discontinue, withdraw, replace or change any content, Services (as defined below) offered via the Site at any time, and your continued access and use of the Site thereafter constitutes your acceptance of such changes.  IF YOU DO NOT AGREE WITH THE TERMS, YOU ARE NOT AUTHORIZED TO USE THIS SITE AND MUST TERMINATE YOUR ACCESS AND USE OF THE SITE IMMEDIATELY.
    %div.strong{style: 'margin: 10px 0;'}
      This Site is not for use, nor may any Services be purchased for or by any user that is under the control of, located in, or a national or resident of any country subject to a United States embargo or other similar United States export restrictions, or is listed on any U.S. government denied persons or entity list or is subject to any other legal prohibition on engaging in commerce with such user.  
    %div.strong{style: 'margin: 10px 0;'}
      These Terms constitute a legal agreement between you and Bid.Aero effective as of your first use of the Site, your clicking “I Agree” acknowledging your agreement to these Terms, or your purchase of any products or services via the Site, whichever occurs first.  You acknowledge and agree that these Terms are supported by good and valuable consideration that includes, without limitation, your use of the Site.  
    %div.strong{style: 'margin: 10px 0;'}
      If you register to use or use the Site on behalf of an entity, you represent and warrant that you have legal authority to bind such entity to these Terms, and in such event the terms “you” and “your” also refer to such entity, except that if you do not have actual legal authority to bind such entity, you are and shall be personally bound and liable under the Terms and you agree to indemnify Bid.Aero with respect to any claims, losses, expenses (including, without limitation, legal expenses), damages or other liability (collectively, “Claims”) arising or resulting therefrom.  Bid.Aero shall not have any liability for any Claims arising or resulting from reliance on any representation, warranty, agreement, instruction, notice or communication received from you whether on your own behalf or on behalf of such entity.
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      I.  GENERAL APPLICABILITY; ADDITIONAL PRODUCT AND SERVICE AGREEMENTS AND TERMS
    %div
      These Terms provide the general terms and conditions for your use of the Site and the purchase and use of Bid.Aero’s reverse auction platform services and other Bid.Aero and/or third party products or services provided via the Site (collectively, “Services”) and are in addition to specific additional, terms and conditions applicable to the particular Services. Such additional terms and conditions may include agreements required by Bid.Aero and/or third party suppliers of such Services which you are required to agree to with Bid.Aero and/or such third party suppliers as part of purchasing such Services, including, without limitation, the following additional agreements, terms and conditions:
    %div{style: 'margin: 5px 20px;'}
      Bid.Aero Services:
      %ul
        %li
          Bid.Aero Reverse Auction Platform Rules and Procedures: 
          %a{href: 'https://bid.aero/terms_and_conditions'}
            Terms & Conditions
    %div{style: 'margin: 5px 20px;'}
      Third Party Services:
      %ul{style: 'margin: 0;'}
        %li
          Armor Payments Transaction Escrow Services: 
          %a{href: 'https://app.armorpayments.com/terms'}
            https://app.armorpayments.com/terms
        %li
          NetNeutrals Transaction Dispute Resolution Services: 
          %a{href: 'https://www.netneutrals.com/Terms-of-Service.aspx'}
            https://www.netneutrals.com/Terms-of-Service.aspx
    %div{style: 'margin: 10px 0;'}
      Such additional third party agreements, terms and conditions are entered into by you directly with such third parties and Bid.Aero is not a party thereto, and Bid.Aero has and shall have no liability or obligation with respect to any representations, warranties or obligations, or any disputes, breaches or claims relating to such third party agreements, terms and conditions or otherwise relating to the third party Services, unless expressly agreed to by Bid.Aero in a separate written agreement.  In the event of any conflict or inconsistency between these Terms and any additional agreements, terms and conditions, these Terms shall control as between you and Bid.Aero (except for any additional terms for Bid.Aero Services that expressly state otherwise).
    %div{style: 'margin: 10px 0;'}
      You further acknowledge and agree that Bid.aero is not a party to and shall have no obligation or liability whatsoever with respect to any product or service offered by another user of the Site, or any request for bid or quotation, any response thereto, any uploaded inventory data or any reverse auction or other transaction between you and any other user of the Site.  It is the sole responsibility of users of the Site that engage in a reverse auction or purchase and sale transaction to review and agree in writing amongst themselves to the terms and conditions of purchase orders issued or received by them.
    %div{style: 'margin: 10px 0;'}
      You may not send unsolicited e-mail to any recipient that has not specifically made its e-mail available for such purposes. You agree not to transmit, promote, or otherwise make available any software, product or service that is either illegal or designed to violate these Terms. Such software, products or services include, but are not limited to, programs designed to send unsolicited advertisements (i.e., "spamware") and services which send unsolicited advertisements. You may not continue to send e-mail to a recipient if recipient has requested that you discontinue such communication. Bid.aero prohibits the transmission of e-mail that is false, misleading, harassing, libelous, defamatory, legally obscene or pornographic, threatening, abusive or hateful to non-consenting recipients. The forwarding or propagation of chain letters of any type (including charity requests or petitions for signatures) is prohibited. "Mailbombing" (i.e., flooding a user or site with large or numerous e-mail messages) is prohibited.
    %div{style: 'margin: 10px 0;'}
      Bid.Aero may remove, modify or otherwise discontinue providing the Site or any content, Services at any time with or without cause and with or without notice, without any liability.  Unless expressly stated otherwise in the applicable additional agreements, terms and conditions referred to above, all information, Services obtained via the Site are for your personal/internal use only and may not be further reproduced, published, transmitted, distributed, sublicensed resold or otherwise disseminated without Bid.Aero’s and/or the applicable third party supplier’s prior written consent.
  %div  
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      II.    USER ACCOUNT REGISTRATION AND DATA
    %div
      In order to use the Site reverse auction Services, you must register and create a user account. You agree to: (a) create only one account (unless specifically approved by Bid.Aero in writing); (b) provide accurate, truthful, current and complete information for your account; (c) maintain and promptly update your account information and payment method information; (d) maintain the security of your account by not sharing your username or password with others and restricting access to your account and otherwise not permitting third parties to access or use your account; (e) promptly notify us if you discover or otherwise suspect any security breaches relating to your account at:  info@bid.aero; (f) not sell, transfer or assign your username and password; and (g) accept sole responsibility for all activities that occur under your username and password, whether or not you have authorized the activity, and indemnify Bid.Aero with respect to any Claims arising from or related to any use of your account, whether authorized or unauthorized. If you purchase any Services via the Site, you authorize Bid.Aero and/or the applicable third party suppliers and their designated payment processors to store and use your payment information and other related information for payment processing purposes.  Bid.Aero reserves the right, exercisable as it determines in its sole and absolute discretion, to suspend, disable or terminate access to your account based on suspected or actual unauthorized use or other violation of these Terms or any of the other agreements, terms and conditions applicable to any Services you purchase or otherwise use via the Site. If you access the Site from outside the United States, you consent to the transmission and/or transfer of data relating to your user account and communications and transactions relating to Services purchased via the Site across all applicable international boundaries.
  %div  
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      III.  FEES AND PAYMENTS
    %div{style: 'margin: 10px 0;'}
      You agree to pay any and all prices, fees and other charges due for the Services used, purchased or otherwise obtained via the Site at the time you request the applicable Services, unless otherwise specified in the applicable Service purchase and payment terms.  You may not use any Services beyond the scope of the rights you have purchased for same. All prices and payments are and shall be in U.S. Dollars.  In addition, you acknowledge and agree that you shall pay and be solely responsible for payment of and Bid.Aero may charge you for any applicable taxes, duties and other regulatory or governmental charges. All payments are non-refundable unless otherwise expressly stated otherwise in the applicable additional agreements, terms and conditions for the particular Services.  Prices are subject to change at any time, and such changes or modifications shall be posted online on the Site and shall be effective immediately without need for further notice to you.  If you have purchased or obtained Services for a period of months or years, changes or modifications in prices and fees shall be effective upon renewal or extension unless stated otherwise. 
    %div{style: 'margin: 10px 0;'}
      Payment shall be made by credit card or as otherwise specified for the particular Services.  For recurring periodic billing, your billing date will be specified as of your first payment and the due date for future months will be the same day of the month as prior payments unless otherwise specified by Bid.Aero. Some Services may be subject to automatic renewal as specified in the applicable additional terms. It is your responsibility to track renewal dates and deliver timely notice of non-renewal in compliance with the applicable additional agreements, terms and conditions for such Services in order to avoid automatic renewal charges.  
    %div{style: 'margin: 10px 0;'}
      You acknowledge and agree that in the event that Bid.Aero agrees to process a refund with respect to a purchase of Services, Bid.Aero's issuance of a refund receipt is only confirmation that Bid.Aero has submitted your refund to the credit card or other payment method charged at the time of the original sale, and that the timing of actual receipt of the refund depends on the applicable credit card or payment method processing which is beyond the control of Bid.Aero.  Bid.Aero also has the right, but not the obligation, to offer a credit for customers seeking refunds to use toward payment of other purchases. 
    %div{style: 'margin: 10px 0;'}
      You acknowledge and agree that in the event that Bid.Aero agrees to process a refund with respect to a purchase of Services, Bid.Aero's issuance of a refund receipt is only confirmation that Bid.Aero has submitted your refund to the credit card or other payment method charged at the time of the original sale, and that the timing of actual receipt of the refund depends on the applicable credit card or payment method processing which is beyond the control of Bid.Aero.  Bid.Aero also has the right, but not the obligation, to offer a credit for customers seeking refunds to use toward payment of other purchases. 
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      IV.  USE OF SITE
    %div
      You may not obtain or attempt to obtain any materials or information from the Site through any means not expressly authorized by Bid.aero. Specifically, but without limitation, you may not attempt to access the Site indirectly through any unauthorized third party website, software or service, including any that disseminate part search results, or that provide aggregated part search results from multiple suppliers or other search services. As a condition of your use of the Site, you represent, warrant and covenant to Bid.Aero that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner that could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You will not use the Site for the purpose of obtaining information regarding Bid.Aero’s business and/or the Site’s functions and features in order to create your own business or site offering the same or substantially the same products and/or services. By way of example, and not as a limitation, you agree that when using the Site and when submitting any information or purchasing any Services via the Site, you will not:
    %ul{style: 'margin: 10px 0;'}
      %li{style: 'margin: 10px 0;'}
        Use a robot, spider or other automated device, process or means to access the Site.
      %li{style: 'margin: 10px 0;'}
        Defame, abuse, harass, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.
      %li{style: 'margin: 10px 0;'}
        Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information.
      %li{style: 'margin: 10px 0;'}
        Send viruses, corrupted files, or any other similar software or programs that may damage the operation of the Site or third party systems, networks, devices or software.
      %li{style: 'margin: 10px 0;'}
        Send false or misleading information.
      %li{style: 'margin: 10px 0;'}
        Send any message or content that contains software or other material protected by intellectual property laws (or by rights of privacy or publicity) unless you own or control the rights thereto or have received all necessary authorizations.
      %li{style: 'margin: 10px 0;'}
        Conduct or forward surveys, contests, pyramid schemes or chain letters.
      %li{style: 'margin: 10px 0;'}
        Request quotations for or offer to buy any goods or services that you do not have the intention and ability, financial or otherwise, to actually purchase and accept delivery thereof.
      %li{style: 'margin: 10px 0;'}
        Advertise, quote or offer to sell goods or services that you do not have the ability to sell.
      %li{style: 'margin: 10px 0;'}
        Send unsolicited e-mail to any recipient that has not specifically made its e-mail available for such purposes, or engage in “Mailbombing” (i.e., flooding the site with large or numerous e-mail messages).  
      %li{style: 'margin: 10px 0;'}
        Commit acts of interference, including but not limited to, password cracking, denial-of-service attacks (sending packets with an illegal packet size, UDP flooding, ping-flooding, half-open TCP connection flooding, etc.).
      %li{style: 'margin: 10px 0;'}
        Forward or propagate chain letters of any type (including charity requests or petitions for signatures).
      %li{style: 'margin: 10px 0;'}
        Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material that is provided to or by you via the Site.
      %li{style: 'margin: 10px 0;'}
        Restrict or inhibit any other user from using and enjoying the Site.
      %li{style: 'margin: 10px 0;'}
        Harvest or otherwise collect information about others, including contact information such as e-mail addresses.
      %li{style: 'margin: 10px 0;'}
        Tamper with other user accounts, commit unauthorized intrusion into any part of the Site or use the Site to intrude into any other site, network, system, device or account, or engage in other interfering or fraudulent activity relating to the Site, including but not limited to, password cracking, defrauding others into releasing their passwords, denial-of-service attacks.
      %li{style: 'margin: 10px 0;'}
        Violate any applicable laws or regulations.
    %div{style: 'margin: 10px 0;'}
      Bid.Aero shall have no obligation to monitor the usage of the Site. However, Bid.Aero reserves the right to review any communications or submissions directed to the Site and to remove any of same in its sole discretion.  Bid.Aero reserves the right to terminate your access to the Site at any time without notice for any reason whatsoever without liability.  Bid.Aero further reserves the right, and you hereby authorize Bid.Aero, at all times to disclose to law enforcement authorities, prosecutors, regulatory and/or other governmental officers or agencies any information about you or your use of the Site or other information as necessary to satisfy any applicable law, regulation, subpoena or other legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in its sole discretion.
    %div{style: 'margin: 10px 0;'}
      Content presented on the Site is subject to limitations on usage, reproduction and/or dissemination.  You are responsible for adhering to such limitations.
    %div{style: 'margin: 10px 0;'}
      The Site and the Services offered or provided via the Site are subject to the U.S. export control laws, regulations and related legal requirements (collectively, “U.S. Export Control Laws”).  You agree not to use the Site or any Services offered or provided via this Site to collect, store or transmit any technical information or data that is controlled under U.S. Export Control Laws.  You shall not export or re-export, or allow the export or re-export of, the Services in violation of any U.S. Export Control Laws.  None of the Services may be downloaded or otherwise exported or re-exported (i) into any country subject to a U.S. embargo; or (ii) to anyone that is listed on any of the applicable prohibited parties lists or that would otherwise be in violation of U.S. Export Control Laws.  By using the Site or purchasing any Services via the Site, you agree to the foregoing and represent and warrant that you are not a national or resident of, located in, or under the control of, any embargoed or otherwise prohibited country; and you are not on any denied parties list; and you agree to comply with all U.S. Export Control Laws.  Bid.Aero makes no representation or warranty that the content available on the Site or the Services offered or provided via the Site are appropriate in every country or jurisdiction, and access to the Site or purchase or use of the Services from countries or jurisdictions where illegal is prohibited.  You are solely responsible for compliance with all applicable local laws, rules and regulations. If you access this Site or the Services found at this Site from other countries or jurisdictions, you do so on your own initiative and you are responsible for compliance with the local laws of that jurisdiction, if and to the extent those local laws are applicable and do not conflict with U.S. Export Control Laws.  If such laws conflict with U.S. Export Control Laws, you shall not access or use the Site.  
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      V.  LINKS TO THIRD PARTY SITES; FRAMING OF THIRD PARTY SITES
    %div
      The Site may contain links to other third party websites or frames of other third party website screens, including, without limitation, third party product or service sites, pages providing additional third party agreements, terms and conditions applicable to the particular Services, and payment processing sites for use in connection with purchasing Services.  Such third party sites and linked pages are subject to their own respective terms and conditions posted thereon and are not under Bid.Aero’s control. Bid.Aero is not responsible for the contents of such third party sites, including without limitation, any link contained in any such site, or any changes or updates to a third party site.  Bid.Aero is not responsible for webcasting or any other form of transmission received from any third party site, or with respect to any personal or payment information you provide to any such third party site in connection with purchasing any Products or Services or otherwise.  
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      VI.  INFORMATION AND OTHER CONTENT PROVIDED TO THE SITE 
    %div{style: 'margin: 10px 0;'}
      By registering, posting, uploading, inputting or otherwise submitting your contact information or other information or content to the Site, you grant to Bid.Aero and its contractors and their respective affiliated companies permission to use same in connection with the operation of the Site and the reverse auction platform, and marketing of the Services to you, including contacting you and sending you emails and other communications, including, without limitation, the rights to: copy, distribute, transmit, reproduce, edit, translate and reformat such information and content as part of marketing Services to you based on your expression of interest and/or request to be contacted.  No compensation will be paid with respect to the use of such information or content.  Said permission is transferable by Bid.Aero to an acquirer in connection with a business or asset sale.  Bid.Aero is under no obligation to post or use any information or content you may provide and may remove any of same at any time in its sole discretion.  By posting, uploading, inputting, providing or submitting such information or other content to the Site, you represent and warrant that you are of legal contracting age, that you own or otherwise control all of the rights to such information and content, including, without limitation, all the rights necessary for you to provide, post, upload, input or submit such information and content and that such information and content does not infringe or otherwise violate any third party intellectual property or other right.  Bid.Aero does not control or endorse the content, messages or information found in any communication sent by you to the Site or to you from any third party and, therefore, Bid.Aero specifically disclaims any liability with regard to such communications and any actions resulting from your participation in any such communication.  Managers and hosts are not authorized Bid.Aero spokespersons, and their views do not necessarily reflect those of Bid.Aero.
    %div{style: 'margin: 10px 0;'}
      When you visit this Site or send e-mails to Bid.Aero, you are communicating with Bid.Aero electronically, and by doing so, you consent to receive communications from Bid.Aero electronically. Bid.Aero may communicate with you by email or by other means.  You agree that all agreements, notices, disclosures and other communications that Bid.Aero provides to you electronically satisfy any legal requirement that such communications be in writing.  You agree that Bid.Aero may also disclose your personally identifiable information as is necessary to: (a) comply with a subpoena or court order; (b) cooperate with law enforcement or other government agency; (c) establish or exercise our legal rights; (d) protect the property or safety of our company and employees, contractors, vendors, and suppliers; (e) defend against legal claims; (f) help with internal and external investigations; or (g) as otherwise required by law or permitted by law.  Bid.Aero reserves the right to disclose your personally identifiable Information to its successors-in-interest or in connection with a merger or acquisition transaction, or change of control.  You irrevocably consent to Bid.Aero’s recording of any voice communications between you and Bid.Aero.
    %div{style: 'margin: 0px 15px;'}
      %em.strong{style: 'padding: 12px 0; display: block;'}
        Parts Supplier Inventory Data Uploads
      %div
        Parts suppliers registering to submit their inventory onto the Bid.aero System agree to the following additional terms and conditions:
      %ul
        %li
          Each supplier hereby grants to Bid.aero a non-exclusive, royalty-free license, for as long as the supplier's registration with Bid.aero remains in effect, to display the supplier's inventory data and company contact information on the Bid.aero Site and other sites that Bid.aero may provide content to, and incorporate same into the Site for access and use by Bid.aero other users or other third parties. Each supplier further authorizes Bid.aero to grant sublicenses to Bid.aero users and other third parties to access, search and use the supplier's inventory data via the Bid.aero Site pursuant to these Terms.
        %li
          Suppliers not desiring to have their submissions displayed at websites other than the Site may opt-out by notifying Bid.aero in writing via facsimile or e-mail.
        %li
          Suppliers agree to maintain their inventory data uploaded onto the Site as current, both in terms of the content of the inventory file and the frequency of the file uploads.
        %li
          Suppliers agree to not include misrepresentations or counterfeit parts in their submissions.
        %li
          Suppliers shall, if applicable, clearly and accurately identify any inventory file submitted for inclusion in the database that contain reproductions, either in whole or part, of another supplier's inventory file. Supplier will apply this clear and accurate identification to the applicable inventory file name and/or the description field on each of the applicable line items ("OEM Excess", "Overseas Stock", "Available", "2-3 Days", etc.).
        %li
          Suppliers shall not submit a quotation for parts that they do not have the ability to sell and deliver at the time indicated in the quotation.
        %li
          Bid.aero shall have the right, exercisable in its sole and absolute discretion, to remove or exclude any submissions, in whole or in part, and perform minor manipulations to, supplier submissions, including, for example, the elimination of certain data fields that do not materially impact the usefulness of the information provided. 
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      VII.  SITE SECURITY & AVAILABILITY
    %div
      You may not tamper with the Site, commit unauthorized intrusion into any part of Site, use the Site to intrude into any other site or otherwise attempt to circumvent or compromise the security of the Site and/or user account or transaction data.  You are solely responsible for maintaining the confidentiality and security of your Site user log-in/password information, and shall not allow any third party to use same. You acknowledge and agree that the Site may be inaccessible or inoperable from time to time due to maintenance, upgrades, hardware or software malfunctions or failures, Internet or other telecommunications issues, system or network congestion, third party attacks or other issues and Bid.Aero shall have no liability with respect thereto.  
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      VIII. DISCLAIMERS; LIMITATION OF LIABILITY
    %div{style: 'margin: 10px 0;'}
      USE OF THE SITE AND THE SERVICES IS AT YOUR OWN RISK. THE CONTENT INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS.  CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN.  BID.AERO MAY MAKE CHANGES IN THE SITE AT ANY TIME.  BID.AERO DOES NOT REPRESENT OR WARRANT THAT THE SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS AND YOU ACKNOWLEDGE AND AGREE THAT BID.AERO SHALL HAVE NO LIABILITY WITH RESPECT THERETO.
    %div{style: 'margin: 10px 0;'}
      BID.AERO MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OR COMPLETENESS OF THE SITE OR ANY OF THE CONTENT CONTAINED ON THE SITE OR ANY PRODUCTS OR SERVICES PROVIDED VIA THE SITE FOR ANY PURPOSE, ALL OF WHICH ARE PROVIDED "AS IS" AND “AS AVAILABLE” WITHOUT WARRANTY OF ANY KIND.  BID.AERO AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE SITE AND SUCH CONTENT AND ANY AND ALL PRODUCTS OR SERVICES, INCLUDING, WITHOUT LIMITATION, ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
    %div{style: 'margin: 10px 0;'}
      IN NO EVENT SHALL BID.AERO OR ANY OF ITS AFFILIATES OR ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, MANAGERS, EMPLOYEES, CONTRACTORS OR OTHER REPRESENTATIVES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY OTHER DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA, BUSINESS OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE OR ITS CONTENT, OR WITH RESPECT TO ANY SERVICES OR THE UNAVAILABILITY OF OR ANY DELAY OR INABILITY TO USE THE SITE OR ANY OF THE PRODUCTS AND SERVICES, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF BID.AERO OR ANY OF ITS SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. NOTWITHSTANDING ANY OTHER PROVISION OF THESE TERMS OR ANY OTHER AGREEMENT, TERMS OR CONDITIONS APPLICABLE TO THE SITE OR ANY PRODUCTS AND SERVICES, IN NO EVENT SHALL BID.AERO’S OR ANY OF ITS AFFILIATES’ OR ITS OR THEIR RESPECTIVE OFFICERS’, DIRECTORS’, MANAGERS’, EMPLOYEES’, CONTRACTORS’ OR OTHER REPRESENTATIVES’ TOTAL CUMULATIVE AGGREGATE LIABILITY IN ANY WAY RELATING TO THE SITE OR ANY PRODUCTS AND SERVICES EXCEED THE AMOUNTS PAID TO BID.AERO FOR THE PURCHASE OR USE OF THE APPLICABLE PRODUCTS AND SERVICES GIVING RISE TO THE APPLICABLE CLAIM, OR $[1000], WHICHEVER IS LESS.
    %div{style: 'margin: 10px 0;'}
      IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, ANY OF THE PRODUCTS AND SERVICES, OR WITH ANY OF THESE TERMS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE AND THE APPLICABLE PRODUCTS AND SERVICES. YOU AGREE THAT ANY ISSUES REGARDING THIRD PARTY PRODUCTS AND SERVICES MUST BE ADDRESSED BY YOU DIRECTLY WITH SUCH THIRD PARTIES AND THAT BID.AERO HAS NO OBLIGATIONS OR LIABILITY TO YOU WITH RESPECT THERETO.
    %div{style: 'margin: 10px 0;'}
      BID.AERO RESERVES THE RIGHT TO SUSPEND OR TERMINATE YOUR USE OF THE SITE AND/OR ANY PRODUCTS OR SERVICES PURCHASED VIA THE SITE, IN WHOLE OR IN PART, AT ANY TIME, FOR ANY REASON, AND IN ANY MANNER, WITHOUT PRIOR NOTIFICATION, AND BID.AERO WILL NOT BE LIABLE IN ANY WAY FOR ANY CONSEQUENCES OF SUCH ACTION. 
    %div{style: 'margin: 10px 0;'}
      THIS SITE USES COOKIES AND MAY ALSO USE THE SERVICES OF THIRD PARTY PROVIDERS THAT DEPLOY COOKIES IN CONNECTION WITH THEIR PRODUCTS AND SERVICES.  BY USING THE SITE, YOU CONSENT TO THE PLACEMENT OF COOKIES ON ANY DEVICE USED TO ACCESS OUR SITE.
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      IX. INDEMNIFICATION; GOVERNING LAW; MISCELLANEOUS TERMS
    %div{style: 'margin: 10px 0;'}
      You agree to defend, hold harmless, release and indemnify Bid.Aero and its affiliates and its and their respective officers, directors, managers, employees, contractors and other representatives from and against any and all Claims arising out of your breach or violation of any representation, warranty or obligation contained in these Terms, or otherwise in any way resulting from your use of the Site, the availability or unavailability of this Site or any content or any Services provided on or via this Site. You agree to and hereby release and hold Bid.Aero and its affiliates harmless from any claims relating to any action taken by Bid.Aero as part of an investigation into a suspected violation of these Terms or as a result of its conclusion that a violation of these Terms has occurred.
    %div{style: 'margin: 10px 0;'}
      These Terms are governed by the laws of the State of Florida, U.S.A. The United Nations Convention for the International Sale of Goods does not and shall not apply with respect to any use of the Site or the purchase or use of any Products or Services, except with respect to third party Services for which the applicable terms expressly state otherwise.  You hereby irrevocably consent to personal jurisdiction and venue in the state and federal courts located in Miami, Florida, U.S.A. for any claims by Bid.Aero arising out of or relating to the use of the Site or the purchase or use of any Services, seeking injunctive relief, specific performance or other equitable remedies, and in Miami, Florida for any dispute or claim raised or made by you against Bid.Aero or by Bid.Aero against you relating to the Site or with respect to any Services, which disputes or claims (other than those by Bid.Aero seeking injunctive relief, specific performance or other equitable remedies) shall be subject to arbitration before a single arbitrator in said venue in accordance with the Commercial Arbitration Rules of the American Arbitration Association. You agree to the waiver of a jury trial in any court proceeding involving Bid.Aero relating to the Terms, the Site or any Services purchased or used via the Site. Use of the Site and purchase or use of any of the Services is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation, this paragraph. You agree that no joint venture, partnership, employment, or agency relationship exists between you and Bid.Aero as a result of your agreement with these Terms or use of the Site or the purchase or use of any Services. In no event shall Bid.Aero be liable for any failure to perform its obligations due to causes beyond its control, including, without limitation, weather events, governmental action, telecommunications or utility failures or interruptions, fires, floods, riots, civil disturbances, criminal acts, war or other military action, terrorism or health crises. If any part of these Terms is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the Terms as revised shall continue in effect.  Unless otherwise specified herein, these Terms constitute the entire agreement between you and Bid.Aero with respect to the Site and the information provided via the Site and the purchase or use of any Services, and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and Bid.Aero with respect thereto.  A printed version of these Terms and of any notice given in electronic form shall be admissible in any legal proceedings based upon or relating to these Terms to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. 
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      X.  REPORTING VIOLATIONS; ENFORCEMENT
    %div{style: 'margin: 10px 0;'}
      Any party seeking to report any violations of these Terms may contact Bid.Aero via e-mail: support@bid.aero.
    %div{style: 'margin: 10px 0;'}
      When Bid.Aero becomes aware of an alleged violation of these Terms, Bid.Aero may initiate an investigation.  Depending on the severity of the violation, Bid.Aero may, at its sole discretion, immediately restrict, suspend, or terminate your access to the Site and/or pursue other civil remedies. If such violation is a criminal offense, Bid.Aero has and shall have the right notify the appropriate law enforcement agency of such violation.
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      XI.  COPYRIGHT AND TRADEMARK NOTICES
    %div{style: 'margin: 10px 0;'}
      All information and materials on the Site, including without limitation the text, graphics, logos, and all other audible, visual or downloadable materials, as well as the selection, organization, coordination, compilation and overall look and feel of the Site, and the Bid.Aero Services are the intellectual property of Bid.Aero and/or its licensors or suppliers. Copyright © 2016 Bid.Aero, Inc. and/or its licensors or suppliers.  All rights reserved. None of the content of the Site nor any Bid.Aero Services may be copied, downloaded, transmitted or otherwise be reproduced, disseminated or exploited in any form or manner without the express prior written permission of Bid.Aero. The information and materials are protected by copyright and other intellectual property laws and all ownership rights remain with Bid.Aero, its licensors or its suppliers, as the case may be.
    %div{style: 'margin: 10px 0;'}
      BID.AERO is the service mark of Bid.Aero. The Site may depict trademarks owned by third parties. No interest or right to use any Bid.Aero or other trademarks is acquired by purchasing any Services or otherwise using the Site. Nothing contained on this Site or in these Terms serves to grant to you, by implication or otherwise, any license or right to use any intellectual property rights without the prior written permission of Bid.Aero or its third party licensors, or such other third parties that may own the particular intellectual property.  All rights not expressly granted herein are reserved.  
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      XII.  PRIVACY POLICY
    %div
      = link_to 'Privacy Policy', privacy_policy_path
  %div
    %h4.strong{style: 'margin: 24px 0 12px 0;'}
      XIII. NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT
    %div
      Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement under United States copyright law should be sent to Bid.Aero’s Designated Agent specified in the Copyright Infringement Clams Procedure.  ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL RECEIVE NO RESPONSE.  To See Copyright Infringement Claims Procedure, please contact us at support@bid.aero. 












