<div>
	<div><%= @company %> has uploaded a resale certificate. Verify it.</div>
	<div>Company ID: <%= @company.id %></div>
	<div>CompanyDoc ID: <%= @document.id %></div>
	<div><%= link_to document.attachment, document.attachment_url %></div>

</div>
