.card-content
  .card-title.center-align
    %h5.custom-card-title.center Escrow Setup
  %hr/
  %div.center
    Ensure that you receive payment with Payoneer Escrow
  %div.center
    BID AERO has partnered with Payoneer Escrow to provide secure online escrow payment protection for buyers and sellers.
  .card.z-depth-0.payout-preference
    %div{style: "float: left; height: 350px; width: 200px;"}
      %span.center{style: "float: left;"}
        %img.shield.center-align{:src => "http://placehold.it/200x100"}
    %div.center
      %strong Payoneer Escrow offers
      %div.bullet-container
        %div.escrow-bullets
          %i.fa.fa-check-circle-o{"aria-hidden" => "true"}
          Reduce payment risk for both buyers and sellers
        %div.escrow-bullets
          %i.fa.fa-check-circle-o{"aria-hidden" => "true"}
          Simple transaction flow
        %div.escrow-bullets
          %i.fa.fa-check-circle-o{"aria-hidden" => "true"}
          Transaparent and fair dispute resolution platform
        %div.escrow-bullets
          %i.fa.fa-check-circle-o{"aria-hidden" => "true"}
          Faster payout through Payoneer account
        %div.left
          Escrow service fees are applied to the total value of funds released to the seller


