.row
  .col.m10.offset-m1
    .card
      .card-content
        .card-title.center-align
          Edit Company
        = render 'form'
        %hr/

/ %script{ :src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript" }
/ :javascript
/   var url = "#{@url}";
/   	console.log(url);
/   	armor.openModal(url);

%script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
%a#paymentInstructionsFrame-lightbox-preview.ui-action.ui-action-small{"data-url" => "#{@url}"} Select Payout Preference

  
