.row
  .col.s12
    .card
      .card-content
        .card-title.center-align
          %h5.custom-card-title.center
            Company Settings
        %hr/
        = render 'form'

%div.center
  %script{:src => "https://sandbox.armorpayments.com/assets/js/modal.min.js", :type => "text/javascript"}
  %a.paymentInstructionsFrame-lightbox-preview.payout-preference-btn{"data-url" => "#{@url}"}
    %i.fa.fa-lock{"aria-hidden" => "true"}
    Escrow Setup
