.row
  .col.s12
    .card
      .card-content
        .card-title.center-align
          - unless current_user
            .company-logo
              %a{:href => root_path}
                = image_tag("bid-areo-white.png", class: 'responsive-img')
          %h5.custom-card-title.center Sign up
        %hr/
        = render 'form'

