You've been invited to participate in a bid

Please click on the following link to provide a quote: 
= "https://staging-aero.herokuapp.com/auction/#{@auction.id}supplier_invite.#{@confirmation_token}"