%h1
  Welcome to bid.aero #{@bid.company.name}
%p
  You have successfully placed a bid using Part Number:#{@bid.inventory_part.part_num}, Serial Number#{@bid.inventory_part.serial_num}
  Please keep an eye on auction!
