<h1>Welcome to bid.aero <%= @company.name %></h1>
<p>Please click the link below to complete your registration</p>
<%= confirm_email_company_url(@company, @company.confirm_token, host: "localhost:3000") %>
