/*
  *= require sweetalert
 */

$custom-green: #189B4C

html
  height: 100%
body
  font-family: 'Roboto', sans-serif

label.select.optional
  opacity: 0
.chosen-search input[type="text"]
  padding-right: 0 !important
  padding-left: 0 !important

.Site
  min-height: 100vh
  display: -webkit-box
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  display: flex
  flex-direction: column

main
  flex: 1

.custom-card-title
  font-weight: 200

.font-18
  font-size: 18px

a:hover, a:focus
  text-decoration: none !important

.red-bell
  color: #ff4d4d
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both

.custom-container
  width: 95%
  margin: 0 auto

.notification
  padding-bottom: 10px

.custom-green-text
  color: $custom-green !important

.custom-green-color
  background: $custom-green !important

.select
  display: block

.upload
  background: $custom-green !important
  // margin-bottom: 20px

#paymentInstructionsFrame-lightbox-preview
  cursor: pointer

table.dataTable thead th.sorting:after
  color: #000 !important
  content: "\f0dc"
  font-size: 0.8em
  padding-top: 0.12em

table.dataTable thead th.sorting_asc:after
  content: "\f0de"

table.dataTable thead th.sorting_desc:after
  content: "\f0dd"

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after
  display: flex !important
  justify-content: center !important
  align-items: center !important

.dataTables_wrapper
  overflow-x: scroll

.icon-34
  font-size: 34px !important

@keyframes changetransform
  from
    transform: rotate(30deg)
  to
    transform: rotate(-30deg)

.red-bell
  animation: changetransform 0.3s infinite alternate

@mixin display-flex
  display: flex

@mixin justify-content($value: center)
  justify-content: $value

@mixin align-items($value: center)
  align-items: $value

@mixin flash-div
  display: none
  height: 0
  width: 80%
  border-radius: 3px
  color: transparent
  @include display-flex
  @include justify-content(center)
  @include align-items(center)

// Flash
#flash-success
  background-color: #00e676
  @include flash-div
#flash-notice
  background-color: #29b6f6
  @include flash-div
#flash-error
  background-color: #f44336
  @include flash-div
#flash-warning
  background-color: #fdd835
  @include flash-div

@import "chosen"
@import "font-awesome-sprockets"
@import "font-awesome"
@import './helpers/mixins_helper'
@import './base/global'
@import './base/sidenav'
@import './base/footer'
@import './base/buyer_auctions'
@import './base/inventory'
@import 'aircrafts'
@import 'bids'
@import 'password_resets'
@import 'nav'
@import 'buttons'
@import 'documents'
