/*
  *= require sweetalert
 */

$custom-green: #189B4C

html
  height: 100%
body
  font-family: 'Roboto', sans-serif

a:hover, a:focus
  text-decoration: none !important

.red-bell
  color: #ff4d4d
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both

.custom-container
  width: 90%
  margin: 0 auto

.custom-green-text
  color: $custom-green !important

.custom-green-color
  background: $custom-green !important

.select
  display: block

.upload
  background: $custom-green !important
  margin-bottom: 20px

#paymentInstructionsFrame-lightbox-preview
  cursor: pointer

table.dataTable thead th.sorting:after
  color: #000 !important
  content: "\f0dc"
  font-size: 0.8em
  padding-top: 0.12em

table.dataTable thead th.sorting_asc:after
  content: "\f0de"

table.dataTable thead th.sorting_desc:after
  content: "\f0dd"

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after
  display: flex !important
  justify-content: center !important
  align-items: center !important

@import "font-awesome-sprockets"
@import "font-awesome"
@import './base/global'
@import './base/sidenav'
@import './base/buyer_auctions'
@import './base/inventory'


