// Place all the styles related to the bids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bid-form {
  width: 40%;
  margin-top: 2em;
  margin-left: 5.2em;
}

#place-bid {
  display: inline-block;
  margin-top: 1em;
}

#search {
  width: 20%;
}

#bid-inventory {
  margin-top: 3em;
  width: 90%;
}

.bid-form {
  width: 85%;
  margin: auto;
}

#bid-buy {
  width: 50%;
  float: left;
}


