.choose-inventory:hover
	background-color: #E8E8E8
	border-color: #E8E8E8
	border-width: 3px
	border-style: solid
	border-color: #E8E8E8
	cursor: pointer

.choose-inventory.selected
	background-color: lightblue
	color: #fff
	border-width: 3px
	border-style: solid
	border-color: lightblue

.container.temp-bid
	display: flex
	justify-content: space-between

.col-md-1.field-section
	width: 45%

.sub-title
	font-size: 0.7em
	color: darkgrey

.destination
	font-size: 0.5em
	text-align: left
