.choose-inventory:hover
	background-color: #E8E8E8
	border-color: #E8E8E8
	border-width: 3px
	border-style: solid
	border-color: #E8E8E8
	cursor: pointer

#bid-new
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center

	align-items: flex-start

#bid-inventory
	font-size: 14px

#bid-fields
	width: 115%
	text-align: center

.field-title
	height: 40px
	width: 100%
	text-align: left
	color: darkgrey
	font-size: 13px

.input-field
	// height: 100% !important
	margin-top: 0 !important


.choose-inventory.selected
	background-color: lightblue
	color: #fff
	border-width: 3px
	border-style: solid
	border-color: lightblue

.container.temp-bid
	display: flex
	justify-content: space-between

.col-md-1.field-section
	width: 45%

.sub-title
	font-size: 0.7em
	color: darkgrey

.destination
	font-size: 0.5em
	text-align: left
