// // Place all the styles related to the companies controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.payout-preference{
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	display: block;
	padding-bottom: 10%
}

.payout-preference-btn {
	margin: 20px 0;
	padding: 10px;
  background-color: none;
  border: 2px solid;
  border-color: $custom-green;
  width: 250px;
  height: 45px;
  color: $custom-green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.shield {

}

.escrow-bullets{
	text-align: left;
	margin: 20px 5px;
	font-size: 16px;
}

.bullet-container {
}

.tabs {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $custom-green;
}

.tab-box {
	min-height: 300px;
}

// #form-page {
//   margin: none;
//   padding: none;
//   background-image: image-url("sky.jpeg");
//   background-size: 100% auto;
//   height: 100vh;
//   text-align: center;

//   #form {
//     width: 45%;
//     margin: 0 auto;
//     padding-bottom: 3em;
//     background: #fff;
//   }

//   .form-container {
//     margin: auto;
//     width: 70%;
//   }

// }

// #auction-partial {
//   background: #e6e6e6;
//   margin: 2em 1em;
//   display: inline-block;
//   width: 16em;
//   height: 16em;

//   .container {
//     margin: 1em auto;
//   }
// }

// nav {
//   position: fixed;
//   background: #fff;
//   padding: 1em 0;
//   font-size: 1em;
//   width: 100%;
//   height: 4em;

//   .logo {
//     float: left;
//   }

//   .nav-links {
//     float: right;
//   }

//   // display: flex !important;
//   // flex-flow: row wrap;
//   // justify-content: space-around;

//   a {
//     color: #333;
//     text-decoration: none;

//     &:hover {
//       color: #333;
//       border-bottom: 1px solid #333;
//       text-decoration: none;
//     }

//     &:focus {
//       text-decoration: none;
//     }
//   }

//   div {
//     display: inline-block;
//     margin: 0.2em 1em;

//     &.active {
//       border-bottom: 1px solid #333;
//     }
//   }
// }

// main {
//   min-height: 100vh;
//   padding-top: 4em;
//   background-image: image-url("sky.jpeg");
//   background-size: 100% auto;
//   background-attachment: fixed;

//   #dashboard-auctions {
//     padding: 2em;
//     min-height: 30em;
//     width: 85%;
//     margin: 0 auto;
//     background: #fff;
//   }

//   .white-btn {
//     background: #fff !important;
//     border: none;
//     display: inline-block;
//   }

//   #company-name {
//     width: 85%;
//     margin: 0 auto;

//     .company-name {
//       float: left;
//     }

//     a {
//       margin-top: 2.4em;
//       float: right;
//     }
//   }

//   h1 {
//     font-size: 3em;
//     color: #fff;
//   }
// }

