.doc-upload {
  margin-top: 1%;

  input {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
  }

  input:focus {
    outline: none;
  }
}

.doc-form {
  
}

.doc-delete {
  a {
    color: #ffffff;
  }
}
