#inventory-new {
  display: inline-block;
}

#documents {
  margin-top: 3em;
}

.destroy-all-button {
	background-color: red !important;
}

.bottom-inv-part {
	margin-top: 55px;
}

.document-form-inv-part{
	font-size: 12px !important;
	margin-bottom: 25px;
}