@import "landing/bootstrap.min";
@import "landing/YTPlayer";
@import "landing/animate.min";
@import "landing/et-line";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "landing/magnific-popup";
@import "landing/owl.carousel";
@import "landing/owl.transitions";
@import "landing/rev-slider";
@import "landing/simpletextrotator";
@import "landing/style-responsive";
@import "landing/style";
@import "landing/vertical-rhythm.min";

.login_landing_form {
	input {
    margin-top: 0px;
  }
  label {
    margin-bottom: 0px;
  }

  .reset_link {
    color: white;
    white-space: nowrap;
    text-decoration: none;
  }

  .shadow_section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-control {
    height: 24px;
  }
}

.logo img {
  max-width: 200px;
  height: auto;
}

.part_form {
  .newsletter-field {
    width: 100%;
  }
  .form-control {
    margin-right: 20px;
  }
}

img.featurespc {
	margin: 0 16.25% 30px 16.25%;
}

h4.title {
  text-align: left;
  color: black;
  margin-left: 2.3em;
  white-space: nowrap;
  margin-bottom: -9px !important;
}

#price_input::-moz-placeholder {
    text-align: right;
}
#price_input:-ms-input-placeholder {
    text-align: right;
}
#price_input::-webkit-input-placeholder {
    text-align: right;
}
