.top-nav {
  position: fixed !important;
  right: 1px;
  height: auto !important;
  width: 100%;
  z-index: 1;
  background: #283761;
}

li.active{
  border-left: #239A4F;
  border-style: solid;
  border-width: 0 0 0 4px;
}

.company-logo {
  padding-top: 8px;
  background: #283761;
  text-align: center;
  height: 64px;
  min-width: 150px;
  img {
    width: 215px;
    height: auto;
    margin-bottom: -22px;
    margin-left: 6px;
    margin-top: 2px;
  }
}

.arrow-dropdown {
  margin-left: 0 !important;
}

nav {
  margin-bottom: 1%;
}

#button {
  a {
    padding-left: 16px;
  }
}

#nav-buttons {
  margin-right: 1.7%;
}
