.top-nav {
  position: fixed !important;
  right: 1px;
  height: auto !important;
  width: 100%;
  z-index: 2;
  background: #283761;
}

.custom-container {
  margin-top: 7%;
}

#button {
  a {
    padding-left: 16px;
  }
}

#nav-buttons {
  margin-right: 12px;
}
