.tag {
  padding: 3px 3px;
  border-radius: 3px;
  margin: 2px;
  color: #ffffff;
}

.tag_new {
  background-color: green;
}

.tag_ne {
  background-color: green;
}

.tag_overhaul {
  background-color: #D45F29;
}

.tag_oh {
  background-color: #D45F29;
}

.tag_serviceable {
  background-color: darkorange;
}

.tag_sv {
  background-color: darkorange;
}

.tag_as_removed {
  background-color: orange;
}

.tag_ar {
  background-color: orange;
}

.tag_non_serviceable {
  background-color: red;
}

.tag_ns {
  background-color: red;
}

.tag_scrap {
  background-color: red;
}

.tag_sc {
  background-color: red;
}

.tag_in_service {
  background-color: green;
}

.tag_off_service {
  background-color: red;
}

.tag-cell {
  width: 100%;
}

.tag-pending-seller-confirmation {
  background-color: #FF4800;
  font-size: 1.3em;
}

.tag-pending-funds-in-escrow {
  background-color: #FF485D;
  font-size: 1.3em;
}

.tag-shipping-info {
  background-color: #F06462;
  font-size: 1.3em;
}

.tag-part-shipped {
  background-color: #ffc800;
  font-size: 1.3em;
}

.tag-part-delivered {
  background-color: #3da3dc;
  font-size: 1.3em; 
}

.tag-complete {
  background-color: $custom-green;
  font-size: 1.3em;
}

.tag-disputed {
  background-color: red;
  font-size: 1.3em;
}