.tag {
  padding: 3px 3px;
  border-radius: 3px;
  margin: 2px;
  color: #ffffff;
}

.tag_new {
  background-color: green;
}

.tag_overhaul {
  background-color: #D45F29;
}

.tag_serviceable {
  background-color: darkorange;
}

.tag_as_removed {
  background-color: orange;
}

.tag_non_serviceable {
  background-color: red;
}

.tag_scrap {
  background-color: red;
}

.tag_in_service {
  background-color: green;
}

.tag_off_service {
  background-color: red;
}

.tag-cell {
  width: 100%;
}

.tag-pending-seller-confirmation {
  background-color: orange;
  font-size: 1.3em;
}
