<div>
  <div>
    <h2>Part:</h2>
    <%= auction.part_num %>
    <%= auction.part_num %>
  </div>

  <div>
    <h2>Starting price:</h2>
    <%= number_to_currency auction.auctioin_part.init_price %>
  </div>
</div>

