%nav
  .logo
    #1.nav-option= image_tag("bid-aero-logo.svg")
  .nav-links
    %div
      = link_to 'Dashboard', company_path(current_user)
    %div |
    %div
      = link_to "Log out", logout_path
    %div
      = link_to 'Inventory', inventory_parts_path
